In [1]:
import pandas as pd
import numpy as np
import os
import pandas_profiling

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from invesscience.joanna_merge_2 import get_training_data

In [10]:
from invesscience.joanna_clean_data import clean_training_data

In [5]:
# can specify the cut

In [6]:
companies = get_training_data(reference="a", cut="2009")

        id  mean_comp_worked_before
0      c:1                     0.50
1   c:1001                     0.75
2  c:10015                     0.00
3   c:1003                     0.50
4  c:10054                     0.00
        id    normalized_name    category_code founded_at  \
0   c:1349      move networks         software        NaT
1   c:4584        modern feed      games_video 2007-01-01
2  c:16612  micron technology    semiconductor 1978-01-01
3     c:28              cisco  network_hosting 1984-01-01
4     c:29              yahoo              web 1994-01-01

                                         description closed_at    status  \
0  software Move Networks is a streaming tech pla...       NaN  acquired
1  games_video     [Modern Feed](http://www.moder...       NaN  acquired
2  semiconductor   Semiconductor Applications Mic...       NaN       ipo
3  network_hosting     Cisco designs and sells ha...       NaN       ipo
4  web   News and On-line directory Yahoo was fou...       NaN       ipo

          exit            exit_date country_code  ... top_20 top_50  \
0  acquisition  1987-06-16 00:00:00          USA  ...    NaN    NaN
1  acquisition  1987-06-16 00:00:00          USA  ...    0.0    1.0
2          ipo  1990-01-02 00:00:00          USA  ...    NaN    NaN
3          ipo  1990-02-23 00:00:00          USA  ...    0.0    0.0
4          ipo  1996-04-12 00:00:00          USA  ...    0.0    0.2

   top_5_bool  top_20_bool  top_50_bool  n_female_founders  female_ratio  \
0         NaN          NaN          NaN                NaN           NaN
1         0.0          0.0          1.0                0.0           0.0
2         NaN          NaN          NaN                NaN           NaN
3         0.0          0.0          0.0                0.0           0.0
4         1.0          0.0          1.0                0.0           0.0

   mean_comp_founded_ever  mean_comp_founded_before  mean_comp_worked_before
0                     NaN                       NaN                      NaN
1                     1.0                       0.0                      0.0
2                     NaN                       NaN                      NaN
3                     1.0                       0.0                      0.0
4                     1.2                       0.0                      0.0

[5 rows x 40 columns]

In [7]:
companies.head()

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,top_50,top_5_bool,top_20_bool,top_50_bool,n_female_founders,female_ratio,mean_comp_founded_ever,mean_comp_founded_before,mean_comp_worked_before,target
0,c:1349,move networks,software,NaT,software Move Networks is a streaming tech pla...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,c:4584,modern feed,games_video,2007-01-01,games_video [Modern Feed](http://www.moder...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1
2,c:16612,micron technology,semiconductor,1978-01-01,semiconductor Semiconductor Applications Mic...,NaN,ipo,ipo,1990-01-02 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,c:28,cisco,network_hosting,1984-01-01,network_hosting Cisco designs and sells ha...,NaN,ipo,ipo,1990-02-23 00:00:00,USA,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,c:29,yahoo,web,1994-01-01,web News and On-line directory Yahoo was fou...,NaN,ipo,ipo,1996-04-12 00:00:00,USA,...,0.2,1.0,0.0,1.0,0.0,0.0,1.2,0.0,0.0,1

In [8]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3241 entries, 0 to 3240
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3241 non-null   object
 1   normalized_name            3241 non-null   object
 2   category_code              3115 non-null   object
 3   founded_at                 2642 non-null   datetime64[ns]
 4   description                3239 non-null   object
 5   closed_at                  360 non-null    object
 6   status                     3241 non-null   object
 7   exit                       3241 non-null   object
 8   exit_date                  797 non-null    object
 9   country_code               3118 non-null   object
 10  state_code                 2241 non-null   object
 11  date_series_a              3241 non-null   datetime64[ns]
 12  participants_a             3241 non-null   int64
 13  raised_amount_usd_a        3241 non-null   float64
 14  timediff_founded_series_a  2642 non-null   float64
 15  rounds_before_a            3241 non-null   float64
 16  raised_before_a            3165 non-null   float64
 17  participants_before_a      3138 non-null   float64
 18  phd                        1600 non-null   float64
 19  MBA                        1600 non-null   float64
 20  cs                         1600 non-null   float64
 21  graduate                   1600 non-null   float64
 22  undergrad                  1600 non-null   float64
 23  professional               1600 non-null   float64
 24  degree_count               1600 non-null   float64
 25  MBA_bool                   1600 non-null   float64
 26  cs_bool                    1600 non-null   float64
 27  phd_bool                   1600 non-null   float64
 28  founder_count              1600 non-null   float64
 29  top_5                      1600 non-null   float64
 30  top_20                     1600 non-null   float64
 31  top_50                     1600 non-null   float64
 32  top_5_bool                 1600 non-null   float64
 33  top_20_bool                1600 non-null   float64
 34  top_50_bool                1600 non-null   float64
 35  n_female_founders          1558 non-null   float64
 36  female_ratio               1558 non-null   float64
 37  mean_comp_founded_ever     1600 non-null   float64
 38  mean_comp_founded_before   1600 non-null   float64
 39  mean_comp_worked_before    1599 non-null   float64
 40  target                     3241 non-null   int64
dtypes: datetime64[ns](2), float64(27), int64(2), object(10)
memory usage: 1.0+ MB

In [12]:
companies = clean_training_data(companies, reference="a")

In [13]:
companies.head()

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,MBA_bool,cs_bool,phd_bool,founder_count,top_20_bool,female_ratio,mean_comp_founded_before,mean_comp_worked_before,target,time_diff_series_a_now
0,c:1349,move networks,software,NaN,software Move Networks is a streaming tech pla...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
1,c:4584,modern feed,other_category,2007,games_video [Modern Feed](http://www.moder...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,7.0
2,c:16612,micron technology,semiconductor,pre_1996,semiconductor Semiconductor Applications Mic...,NaN,ipo,ipo,1990-01-02 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
3,c:28,cisco,network_hosting,pre_1996,network_hosting Cisco designs and sells ha...,NaN,ipo,ipo,1990-02-23 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,10.0
4,c:29,yahoo,web,pre_1996,web News and On-line directory Yahoo was fou...,NaN,ipo,ipo,1996-04-12 00:00:00,USA,...,1.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0,1,10.0

In [14]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3241 entries, 0 to 3240
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3241 non-null   object
 1   normalized_name            3241 non-null   object
 2   category_code              3141 non-null   object
 3   founded_at                 2642 non-null   object
 4   description                3239 non-null   object
 5   closed_at                  360 non-null    object
 6   status                     3241 non-null   object
 7   exit                       3241 non-null   object
 8   exit_date                  797 non-null    object
 9   country_code               3163 non-null   object
 10  state_code                 2268 non-null   object
 11  participants_a             2841 non-null   float64
 12  raised_amount_usd_a        2972 non-null   float64
 13  timediff_founded_series_a  2642 non-null   object
 14  rounds_before_a            3241 non-null   int64
 15  graduate                   1600 non-null   float64
 16  undergrad                  1600 non-null   float64
 17  professional               1600 non-null   float64
 18  degree_count               1600 non-null   float64
 19  MBA_bool                   1600 non-null   float64
 20  cs_bool                    1600 non-null   float64
 21  phd_bool                   1600 non-null   float64
 22  founder_count              1600 non-null   float64
 23  top_20_bool                1600 non-null   float64
 24  female_ratio               1558 non-null   float64
 25  mean_comp_founded_before   1600 non-null   float64
 26  mean_comp_worked_before    1599 non-null   float64
 27  target                     3241 non-null   int64
 28  time_diff_series_a_now     3241 non-null   float64
dtypes: float64(15), int64(2), object(12)
memory usage: 759.6+ KB

In [ ]:
#bigger dataset

In [15]:
companies = get_training_data(reference="a", cut="2014")

        id  mean_comp_worked_before
0      c:1                     0.50
1   c:1001                     0.75
2  c:10015                     0.00
3   c:1003                     0.50
4  c:10054                     0.00
        id    normalized_name    category_code founded_at  \
0   c:1349      move networks         software        NaT
1   c:4584        modern feed      games_video 2007-01-01
2  c:40866         3d systems         software 1986-01-01
3  c:16612  micron technology    semiconductor 1978-01-01
4     c:28              cisco  network_hosting 1984-01-01

                                         description closed_at    status  \
0  software Move Networks is a streaming tech pla...       NaN  acquired
1  games_video     [Modern Feed](http://www.moder...       NaN  acquired
2  software   Advanced solid imaging solutions 3D...       NaN       ipo
3  semiconductor   Semiconductor Applications Mic...       NaN       ipo
4  network_hosting     Cisco designs and sells ha...       NaN       ipo

          exit            exit_date country_code  ... top_20 top_50  \
0  acquisition  1987-06-16 00:00:00          USA  ...    NaN    NaN
1  acquisition  1987-06-16 00:00:00          USA  ...    0.0    1.0
2          ipo  1988-03-10 00:00:00          USA  ...    NaN    NaN
3          ipo  1990-01-02 00:00:00          USA  ...    NaN    NaN
4          ipo  1990-02-23 00:00:00          USA  ...    0.0    0.0

   top_5_bool  top_20_bool  top_50_bool  n_female_founders  female_ratio  \
0         NaN          NaN          NaN                NaN           NaN
1         0.0          0.0          1.0                0.0           0.0
2         NaN          NaN          NaN                NaN           NaN
3         NaN          NaN          NaN                NaN           NaN
4         0.0          0.0          0.0                0.0           0.0

   mean_comp_founded_ever  mean_comp_founded_before  mean_comp_worked_before
0                     NaN                       NaN                      NaN
1                     1.0                       0.0                      0.0
2                     NaN                       NaN                      NaN
3                     NaN                       NaN                      NaN
4                     1.0                       0.0                      0.0

[5 rows x 40 columns]

In [17]:
companies = clean_training_data(companies,reference="a")

In [18]:
companies.head()

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,MBA_bool,cs_bool,phd_bool,founder_count,top_20_bool,female_ratio,mean_comp_founded_before,mean_comp_worked_before,target,time_diff_series_a_now
0,c:1349,move networks,software,NaN,software Move Networks is a streaming tech pla...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
1,c:4584,modern feed,other_category,2007,games_video [Modern Feed](http://www.moder...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,7.0
2,c:40866,3d systems,software,pre_1996,software Advanced solid imaging solutions 3D...,NaN,ipo,ipo,1988-03-10 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0
3,c:16612,micron technology,semiconductor,pre_1996,semiconductor Semiconductor Applications Mic...,NaN,ipo,ipo,1990-01-02 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
4,c:28,cisco,network_hosting,pre_1996,network_hosting Cisco designs and sells ha...,NaN,ipo,ipo,1990-02-23 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,10.0

In [19]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8804 entries, 0 to 8803
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         8804 non-null   object
 1   normalized_name            8804 non-null   object
 2   category_code              8612 non-null   object
 3   founded_at                 7294 non-null   object
 4   description                8788 non-null   object
 5   closed_at                  518 non-null    object
 6   status                     8804 non-null   object
 7   exit                       8804 non-null   object
 8   exit_date                  1158 non-null   object
 9   country_code               8538 non-null   object
 10  state_code                 6021 non-null   object
 11  participants_a             7079 non-null   float64
 12  raised_amount_usd_a        8061 non-null   float64
 13  timediff_founded_series_a  7294 non-null   object
 14  rounds_before_a            8804 non-null   int64
 15  graduate                   4589 non-null   float64
 16  undergrad                  4589 non-null   float64
 17  professional               4589 non-null   float64
 18  degree_count               4589 non-null   float64
 19  MBA_bool                   4589 non-null   float64
 20  cs_bool                    4589 non-null   float64
 21  phd_bool                   4589 non-null   float64
 22  founder_count              4589 non-null   float64
 23  top_20_bool                4589 non-null   float64
 24  female_ratio               4463 non-null   float64
 25  mean_comp_founded_before   4589 non-null   float64
 26  mean_comp_worked_before    4582 non-null   float64
 27  target                     8804 non-null   int64
 28  time_diff_series_a_now     8804 non-null   float64
dtypes: float64(15), int64(2), object(12)
memory usage: 2.0+ MB