In [1]:
import pandas as pd
import numpy as np
import os
import pandas_profiling

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from invesscience.joanna_merge_2 import get_training_data

In [10]:
from invesscience.joanna_clean_data import clean_training_data

# can specify the cut

In [54]:
companies = get_training_data(reference="a", cut="2014")

        id  mean_comp_worked_before
0      c:1                     0.50
1   c:1001                     0.75
2  c:10015                     0.00
3   c:1003                     0.50
4  c:10054                     0.00
        id    normalized_name    category_code founded_at  \
0   c:1349      move networks         software        NaT
1   c:4584        modern feed      games_video 2007-01-01
2  c:40866         3d systems         software 1986-01-01
3  c:16612  micron technology    semiconductor 1978-01-01
4     c:28              cisco  network_hosting 1984-01-01

                                         description closed_at    status  \
0  software Move Networks is a streaming tech pla...       NaN  acquired
1  games_video     [Modern Feed](http://www.moder...       NaN  acquired
2  software   Advanced solid imaging solutions 3D...       NaN       ipo
3  semiconductor   Semiconductor Applications Mic...       NaN       ipo
4  network_hosting     Cisco designs and sells ha...       NaN       ipo

          exit            exit_date country_code  ... top_20 top_50  \
0  acquisition  1987-06-16 00:00:00          USA  ...    NaN    NaN
1  acquisition  1987-06-16 00:00:00          USA  ...    0.0    1.0
2          ipo  1988-03-10 00:00:00          USA  ...    NaN    NaN
3          ipo  1990-01-02 00:00:00          USA  ...    NaN    NaN
4          ipo  1990-02-23 00:00:00          USA  ...    0.0    0.0

   top_5_bool  top_20_bool  top_50_bool  n_female_founders  female_ratio  \
0         NaN          NaN          NaN                NaN           NaN
1         0.0          0.0          1.0                0.0           0.0
2         NaN          NaN          NaN                NaN           NaN
3         NaN          NaN          NaN                NaN           NaN
4         0.0          0.0          0.0                0.0           0.0

   mean_comp_founded_ever  mean_comp_founded_before  mean_comp_worked_before
0                     NaN                       NaN                      NaN
1                     1.0                       0.0                      0.0
2                     NaN                       NaN                      NaN
3                     NaN                       NaN                      NaN
4                     1.0                       0.0                      0.0

[5 rows x 40 columns]

In [7]:
companies.head()

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,top_50,top_5_bool,top_20_bool,top_50_bool,n_female_founders,female_ratio,mean_comp_founded_ever,mean_comp_founded_before,mean_comp_worked_before,target
0,c:1349,move networks,software,NaT,software Move Networks is a streaming tech pla...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,c:4584,modern feed,games_video,2007-01-01,games_video [Modern Feed](http://www.moder...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1
2,c:16612,micron technology,semiconductor,1978-01-01,semiconductor Semiconductor Applications Mic...,NaN,ipo,ipo,1990-01-02 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,c:28,cisco,network_hosting,1984-01-01,network_hosting Cisco designs and sells ha...,NaN,ipo,ipo,1990-02-23 00:00:00,USA,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,c:29,yahoo,web,1994-01-01,web News and On-line directory Yahoo was fou...,NaN,ipo,ipo,1996-04-12 00:00:00,USA,...,0.2,1.0,0.0,1.0,0.0,0.0,1.2,0.0,0.0,1

In [8]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3241 entries, 0 to 3240
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3241 non-null   object
 1   normalized_name            3241 non-null   object
 2   category_code              3115 non-null   object
 3   founded_at                 2642 non-null   datetime64[ns]
 4   description                3239 non-null   object
 5   closed_at                  360 non-null    object
 6   status                     3241 non-null   object
 7   exit                       3241 non-null   object
 8   exit_date                  797 non-null    object
 9   country_code               3118 non-null   object
 10  state_code                 2241 non-null   object
 11  date_series_a              3241 non-null   datetime64[ns]
 12  participants_a             3241 non-null   int64
 13  raised_amount_usd_a        3241 non-null   float64
 14  timediff_founded_series_a  2642 non-null   float64
 15  rounds_before_a            3241 non-null   float64
 16  raised_before_a            3165 non-null   float64
 17  participants_before_a      3138 non-null   float64
 18  phd                        1600 non-null   float64
 19  MBA                        1600 non-null   float64
 20  cs                         1600 non-null   float64
 21  graduate                   1600 non-null   float64
 22  undergrad                  1600 non-null   float64
 23  professional               1600 non-null   float64
 24  degree_count               1600 non-null   float64
 25  MBA_bool                   1600 non-null   float64
 26  cs_bool                    1600 non-null   float64
 27  phd_bool                   1600 non-null   float64
 28  founder_count              1600 non-null   float64
 29  top_5                      1600 non-null   float64
 30  top_20                     1600 non-null   float64
 31  top_50                     1600 non-null   float64
 32  top_5_bool                 1600 non-null   float64
 33  top_20_bool                1600 non-null   float64
 34  top_50_bool                1600 non-null   float64
 35  n_female_founders          1558 non-null   float64
 36  female_ratio               1558 non-null   float64
 37  mean_comp_founded_ever     1600 non-null   float64
 38  mean_comp_founded_before   1600 non-null   float64
 39  mean_comp_worked_before    1599 non-null   float64
 40  target                     3241 non-null   int64
dtypes: datetime64[ns](2), float64(27), int64(2), object(10)
memory usage: 1.0+ MB

In [55]:
companies = clean_training_data(companies, reference="a")

In [56]:
companies.to_csv("companies_clean.csv")

In [57]:
companies.head()

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,MBA_bool,cs_bool,phd_bool,founder_count,top_20_bool,female_ratio,mean_comp_founded_before,mean_comp_worked_before,target,time_diff_series_a_now
0,c:1349,move networks,software,NaN,software Move Networks is a streaming tech pla...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
1,c:4584,modern feed,other_category,2007,games_video [Modern Feed](http://www.moder...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,7.0
2,c:40866,3d systems,software,pre_1996,software Advanced solid imaging solutions 3D...,NaN,ipo,ipo,1988-03-10 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0
3,c:16612,micron technology,semiconductor,pre_1996,semiconductor Semiconductor Applications Mic...,NaN,ipo,ipo,1990-01-02 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
4,c:28,cisco,network_hosting,pre_1996,network_hosting Cisco designs and sells ha...,NaN,ipo,ipo,1990-02-23 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,10.0

In [14]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3241 entries, 0 to 3240
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3241 non-null   object
 1   normalized_name            3241 non-null   object
 2   category_code              3141 non-null   object
 3   founded_at                 2642 non-null   object
 4   description                3239 non-null   object
 5   closed_at                  360 non-null    object
 6   status                     3241 non-null   object
 7   exit                       3241 non-null   object
 8   exit_date                  797 non-null    object
 9   country_code               3163 non-null   object
 10  state_code                 2268 non-null   object
 11  participants_a             2841 non-null   float64
 12  raised_amount_usd_a        2972 non-null   float64
 13  timediff_founded_series_a  2642 non-null   object
 14  rounds_before_a            3241 non-null   int64
 15  graduate                   1600 non-null   float64
 16  undergrad                  1600 non-null   float64
 17  professional               1600 non-null   float64
 18  degree_count               1600 non-null   float64
 19  MBA_bool                   1600 non-null   float64
 20  cs_bool                    1600 non-null   float64
 21  phd_bool                   1600 non-null   float64
 22  founder_count              1600 non-null   float64
 23  top_20_bool                1600 non-null   float64
 24  female_ratio               1558 non-null   float64
 25  mean_comp_founded_before   1600 non-null   float64
 26  mean_comp_worked_before    1599 non-null   float64
 27  target                     3241 non-null   int64
 28  time_diff_series_a_now     3241 non-null   float64
dtypes: float64(15), int64(2), object(12)
memory usage: 759.6+ KB

In [35]:
inputs={"0":1}

In [36]:
[inputs]

[{'0': 1}]

In [50]:
from datetime import datetime
import pytz

In [52]:
mytz = pytz.timezone('Europe/Paris')
pytz.utc.localize(datetime.utcnow(), is_dst=None).astimezone(mytz)

datetime.datetime(2020, 11, 9, 16, 10, 56, 519759, tzinfo=<DstTzInfo 'Europe/Paris' CET+1:00:00 STD>)

In [53]:
datetime.utcnow().replace(tzinfo=pytz.timezone('Europe/Brussels'))

datetime.datetime(2020, 11, 9, 15, 11, 35, 399573, tzinfo=<DstTzInfo 'Europe/Brussels' LMT+0:18:00 STD>)

## bigger dataset

In [15]:
companies = get_training_data(reference="a", cut="2014")

        id  mean_comp_worked_before
0      c:1                     0.50
1   c:1001                     0.75
2  c:10015                     0.00
3   c:1003                     0.50
4  c:10054                     0.00
        id    normalized_name    category_code founded_at  \
0   c:1349      move networks         software        NaT
1   c:4584        modern feed      games_video 2007-01-01
2  c:40866         3d systems         software 1986-01-01
3  c:16612  micron technology    semiconductor 1978-01-01
4     c:28              cisco  network_hosting 1984-01-01

                                         description closed_at    status  \
0  software Move Networks is a streaming tech pla...       NaN  acquired
1  games_video     [Modern Feed](http://www.moder...       NaN  acquired
2  software   Advanced solid imaging solutions 3D...       NaN       ipo
3  semiconductor   Semiconductor Applications Mic...       NaN       ipo
4  network_hosting     Cisco designs and sells ha...       NaN       ipo

          exit            exit_date country_code  ... top_20 top_50  \
0  acquisition  1987-06-16 00:00:00          USA  ...    NaN    NaN
1  acquisition  1987-06-16 00:00:00          USA  ...    0.0    1.0
2          ipo  1988-03-10 00:00:00          USA  ...    NaN    NaN
3          ipo  1990-01-02 00:00:00          USA  ...    NaN    NaN
4          ipo  1990-02-23 00:00:00          USA  ...    0.0    0.0

   top_5_bool  top_20_bool  top_50_bool  n_female_founders  female_ratio  \
0         NaN          NaN          NaN                NaN           NaN
1         0.0          0.0          1.0                0.0           0.0
2         NaN          NaN          NaN                NaN           NaN
3         NaN          NaN          NaN                NaN           NaN
4         0.0          0.0          0.0                0.0           0.0

   mean_comp_founded_ever  mean_comp_founded_before  mean_comp_worked_before
0                     NaN                       NaN                      NaN
1                     1.0                       0.0                      0.0
2                     NaN                       NaN                      NaN
3                     NaN                       NaN                      NaN
4                     1.0                       0.0                      0.0

[5 rows x 40 columns]

In [17]:
companies = clean_training_data(companies,reference="a")

In [18]:
companies.head()

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,MBA_bool,cs_bool,phd_bool,founder_count,top_20_bool,female_ratio,mean_comp_founded_before,mean_comp_worked_before,target,time_diff_series_a_now
0,c:1349,move networks,software,NaN,software Move Networks is a streaming tech pla...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
1,c:4584,modern feed,other_category,2007,games_video [Modern Feed](http://www.moder...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,7.0
2,c:40866,3d systems,software,pre_1996,software Advanced solid imaging solutions 3D...,NaN,ipo,ipo,1988-03-10 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0
3,c:16612,micron technology,semiconductor,pre_1996,semiconductor Semiconductor Applications Mic...,NaN,ipo,ipo,1990-01-02 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
4,c:28,cisco,network_hosting,pre_1996,network_hosting Cisco designs and sells ha...,NaN,ipo,ipo,1990-02-23 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,10.0

In [66]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8804 entries, 0 to 8803
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         8804 non-null   object
 1   normalized_name            8804 non-null   object
 2   category_code              8612 non-null   object
 3   founded_at                 7294 non-null   object
 4   description                8788 non-null   object
 5   closed_at                  518 non-null    object
 6   status                     8804 non-null   object
 7   exit                       8804 non-null   object
 8   exit_date                  1158 non-null   object
 9   country_code               8538 non-null   object
 10  state_code                 6021 non-null   object
 11  participants_a             7079 non-null   float64
 12  raised_amount_usd_a        8061 non-null   float64
 13  timediff_founded_series_a  7294 non-null   object
 14  rounds_before_a            8804 non-null   int64
 15  graduate                   4589 non-null   float64
 16  undergrad                  4589 non-null   float64
 17  professional               4589 non-null   float64
 18  degree_count               4589 non-null   float64
 19  MBA_bool                   4589 non-null   float64
 20  cs_bool                    4589 non-null   float64
 21  phd_bool                   4589 non-null   float64
 22  founder_count              4589 non-null   float64
 23  top_20_bool                4589 non-null   float64
 24  female_ratio               4463 non-null   float64
 25  mean_comp_founded_before   4589 non-null   float64
 26  mean_comp_worked_before    4582 non-null   float64
 27  target                     8804 non-null   int64
 28  time_diff_series_a_now     8804 non-null   float64
dtypes: float64(15), int64(2), object(12)
memory usage: 2.0+ MB

## series 0

In [22]:
companies_0 = get_training_data(reference=0, cut="2009")

        id  mean_comp_worked_before
0      c:1                     1.50
1   c:1001                     0.75
2  c:10014                     2.00
3  c:10015                     0.00
4  c:10018                     0.00
        id    normalized_name    category_code founded_at  \
0   c:4304  texas instruments    semiconductor 1930-01-01
1   c:1349      move networks         software        NaT
2   c:4584        modern feed      games_video 2007-01-01
3  c:16612  micron technology    semiconductor 1978-01-01
4     c:28              cisco  network_hosting 1984-01-01

                                         description closed_at    status  \
0  semiconductor   Semiconducter and Device Manuf...       NaN       ipo
1  software Move Networks is a streaming tech pla...       NaN  acquired
2  games_video     [Modern Feed](http://www.moder...       NaN  acquired
3  semiconductor   Semiconductor Applications Mic...       NaN       ipo
4  network_hosting     Cisco designs and sells ha...       NaN       ipo

          exit            exit_date country_code  ... top_20 top_50  \
0          ipo  1978-01-13 00:00:00          USA  ...    NaN    NaN
1  acquisition  1987-06-16 00:00:00          USA  ...    NaN    NaN
2  acquisition  1987-06-16 00:00:00          USA  ...    0.0    1.0
3          ipo  1990-01-02 00:00:00          USA  ...    NaN    NaN
4          ipo  1990-02-23 00:00:00          USA  ...    0.0    0.0

   top_5_bool  top_20_bool  top_50_bool  n_female_founders  female_ratio  \
0         NaN          NaN          NaN                NaN           NaN
1         NaN          NaN          NaN                NaN           NaN
2         0.0          0.0          1.0                0.0           0.0
3         NaN          NaN          NaN                NaN           NaN
4         0.0          0.0          0.0                0.0           0.0

   mean_comp_founded_ever  mean_comp_founded_before  mean_comp_worked_before
0                     NaN                       NaN                      NaN
1                     NaN                       NaN                      NaN
2                     1.0                       0.0                      0.0
3                     NaN                       NaN                      NaN
4                     2.0                       0.0                      0.0

[5 rows x 37 columns]

In [24]:
companies_0 = clean_training_data(companies_0, reference=0)

In [25]:
companies_0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8448 entries, 0 to 8447
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         8448 non-null   object
 1   normalized_name            8448 non-null   object
 2   category_code              7978 non-null   object
 3   founded_at                 6651 non-null   object
 4   description                8431 non-null   object
 5   closed_at                  1004 non-null   object
 6   status                     8448 non-null   object
 7   exit                       8448 non-null   object
 8   exit_date                  1815 non-null   object
 9   country_code               8039 non-null   object
 10  state_code                 5265 non-null   object
 11  participants_0             7041 non-null   float64
 12  raised_amount_usd_0        7445 non-null   float64
 13  timediff_founded_series_0  6651 non-null   object
 14  graduate                   3326 non-null   float64
 15  undergrad                  3326 non-null   float64
 16  professional               3326 non-null   float64
 17  degree_count               3326 non-null   float64
 18  MBA_bool                   3326 non-null   float64
 19  cs_bool                    3326 non-null   float64
 20  phd_bool                   3326 non-null   float64
 21  founder_count              3326 non-null   float64
 22  top_20_bool                3326 non-null   float64
 23  female_ratio               3218 non-null   float64
 24  mean_comp_founded_before   3326 non-null   float64
 25  mean_comp_worked_before    3319 non-null   float64
 26  target                     8448 non-null   int64
 27  time_diff_series_0_now     8448 non-null   float64
dtypes: float64(15), int64(1), object(12)
memory usage: 1.9+ MB

## Bigger dataset

In [30]:
companies_0_big = get_training_data(reference=0, cut="2014")

        id  mean_comp_worked_before
0      c:1                      1.5
1   c:1001                      1.0
2  c:10014                      3.0
3  c:10015                      0.0
4  c:10018                      0.0
        id        normalized_name   category_code founded_at  \
0  c:60511  oasmia pharmaceutical         biotech        NaT
1    c:250         new york times            news        NaT
2  c:21572    tuenti technologies          social 2006-05-01
3  c:24864       general dynamics  transportation 1952-01-01
4   c:9786        lockheed martin        security 1995-03-01

                                         description closed_at    status  \
0  biotech     Oasmia Pharmaceutical AB develops ...       NaN       ipo
1  news The New York Times creates, collects and ...       NaN       ipo
2  social   Social Network Tuenti is a Madrid-bas...       NaN  acquired
3  transportation   Aviation, Combat, & Informati...       NaN       ipo
4  security   Aeronautics Lockheed Martin Corpora...       NaN       ipo

          exit            exit_date country_code  ... top_20 top_50  \
0          ipo  1972-06-01 00:00:00          SWE  ...    NaN    NaN
1          ipo  1973-05-03 00:00:00          USA  ...    NaN    NaN
2  acquisition  1974-07-07 00:00:00          ESP  ...    0.0    0.0
3          ipo  1977-01-03 00:00:00          USA  ...    NaN    NaN
4          ipo  1977-01-03 00:00:00          USA  ...    NaN    NaN

   top_5_bool  top_20_bool  top_50_bool  n_female_founders  female_ratio  \
0         NaN          NaN          NaN                NaN           NaN
1         NaN          NaN          NaN                NaN           NaN
2         1.0          0.0          0.0                0.0           0.0
3         NaN          NaN          NaN                NaN           NaN
4         NaN          NaN          NaN                NaN           NaN

   mean_comp_founded_ever  mean_comp_founded_before  mean_comp_worked_before
0                     NaN                       NaN                      NaN
1                     NaN                       NaN                      NaN
2                     1.4                       0.0                      0.0
3                     NaN                       NaN                      NaN
4                     NaN                       NaN                      NaN

[5 rows x 37 columns]

In [31]:
companies_0_big = clean_training_data(companies_0_big, reference=0)

In [33]:
companies_0_big.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31507 entries, 0 to 31506
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         31507 non-null  object
 1   normalized_name            31507 non-null  object
 2   category_code              30294 non-null  object
 3   founded_at                 24301 non-null  object
 4   description                31366 non-null  object
 5   closed_at                  2052 non-null   object
 6   status                     31507 non-null  object
 7   exit                       31507 non-null  object
 8   exit_date                  2990 non-null   object
 9   country_code               29445 non-null  object
 10  state_code                 19442 non-null  object
 11  participants_0             19885 non-null  float64
 12  raised_amount_usd_0        26920 non-null  float64
 13  timediff_founded_series_0  24301 non-null  object
 14  graduate                   13036 non-null  float64
 15  undergrad                  13036 non-null  float64
 16  professional               13036 non-null  float64
 17  degree_count               13036 non-null  float64
 18  MBA_bool                   13036 non-null  float64
 19  cs_bool                    13036 non-null  float64
 20  phd_bool                   13036 non-null  float64
 21  founder_count              13036 non-null  float64
 22  top_20_bool                13036 non-null  float64
 23  female_ratio               12615 non-null  float64
 24  mean_comp_founded_before   13036 non-null  float64
 25  mean_comp_worked_before    13014 non-null  float64
 26  target                     31507 non-null  int64
 27  time_diff_series_0_now     31507 non-null  float64
dtypes: float64(15), int64(1), object(12)
memory usage: 7.0+ MB

In [58]:
## Model

In [74]:
companies = companies.drop(columns=["id","status","exit","normalized_name", "description", "closed_at","exit_date",\
                           ])

KeyError: "['id' 'status' 'exit' 'normalized_name' 'description' 'closed_at'\n 'exit_date'] not found in axis"

In [75]:
companies = companies.dropna()

In [76]:
X = companies.drop(columns=["target"
                           ])

In [77]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2447 entries, 4 to 8801
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   category_code              2447 non-null   object
 1   founded_at                 2447 non-null   object
 2   country_code               2447 non-null   object
 3   state_code                 2447 non-null   object
 4   participants_a             2447 non-null   float64
 5   raised_amount_usd_a        2447 non-null   float64
 6   timediff_founded_series_a  2447 non-null   object
 7   rounds_before_a            2447 non-null   int64
 8   graduate                   2447 non-null   float64
 9   undergrad                  2447 non-null   float64
 10  professional               2447 non-null   float64
 11  degree_count               2447 non-null   float64
 12  MBA_bool                   2447 non-null   float64
 13  cs_bool                    2447 non-null   float64
 14  phd_bool                   2447 non-null   float64
 15  founder_count              2447 non-null   float64
 16  top_20_bool                2447 non-null   float64
 17  female_ratio               2447 non-null   float64
 18  mean_comp_founded_before   2447 non-null   float64
 19  mean_comp_worked_before    2447 non-null   float64
 20  time_diff_series_a_now     2447 non-null   float64
dtypes: float64(15), int64(1), object(5)
memory usage: 420.6+ KB

In [78]:
y = companies.target

In [102]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, random_state=42)

In [112]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
import xgboost as xgb

In [103]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [292]:
pipeline= Pipeline([("ohe", encoder)\
                    , ("model", xgb.XGBClassifier(gamma=0.001,learning_rate=2,
                                                  colsample_bytree = 0.4, subsample = 0.8,
                                                 n_estimators=100, max_depth=5))])

In [293]:
pipeline.fit(X_train,y_train)
#eval_set = [(X_test, y_test)]

Pipeline(memory=None,
     steps=[('ohe', OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='ignore',
       n_values=None, sparse=True)), ('model', XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.4,...le_pos_weight=1, subsample=0.8,
       tree_method='exact', validate_parameters=1, verbosity=None))])

In [294]:
pipeline.score(X_train,y_train)

0.852316076294278

In [295]:
pipeline.score(X_test,y_test)

0.75

In [296]:
from sklearn.metrics import f1_score
y_pred = pipeline.predict(X_train)
f1_score(y_train,y_pred)

0.5475792988313856

In [297]:
y_pred = pipeline.predict(X_test)
f1_score(y_test,y_pred)

0.30136986301369867

In [169]:
catcols = ["category_code", "founded_at", "country_code","state_code",]

In [67]:
model = LogisticRegression(class_weight="balanced")
model.fit(X,y)
model.score(X,y)

/Users/joannavitiello/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'software'