In [1]:
import pandas as pd
import numpy as np

# Loading Raw Data

In [38]:
# os.path.join(“..“, “raw_data”, “companies.csv”)
comps = pd.read_csv('..\\raw_data\\companies.csv')
acquisitions = pd.read_csv('..\\raw_data\\acquisitions.csv')
degrees = pd.read_csv('..\\raw_data\\degrees.csv')
founders = pd.read_csv('..\\raw_data\\founders.csv')
rounds = pd.read_csv('..\\raw_data\\funding-rounds.csv')
funds = pd.read_csv('..\\raw_data\\funds.csv')
investments = pd.read_csv('..\\raw_data\\investments.csv')
ipos = pd.read_csv('..\\raw_data\\ipos.csv')
milestones = pd.read_csv('..\\raw_data\\milestones.csv')
people = pd.read_csv('..\\raw_data\\people.csv')
relationships =pd.read_csv('..\\raw_data\\relationships.csv')

# Feature Engineering

#### Change to use in all the functions

In [3]:
comps = comps.rename(columns={'id': 'object_id'})

## 2  1 - Time between founding date and specific investment (Diff_time_founded_invest)

changes are made !!!!

In [60]:
def diff_foundation_fundround(comps_df, rounds_df):
    
    '''Returns a merge table between companies and funding rounds. One column added: difference between the date of the companies fundations
    and each round of investment , in MONTHS. It includes companies_id repeated for each round that is realated with the company '''
    
    comps = comps_df
    rounds = rounds_df
    
    comps = comps.rename(columns={'id': 'object_id'})
    comps_rounds = comps.merge(rounds, how = 'left', on = 'object_id')
    comps_rounds.founded_at = pd.to_datetime(comps_rounds.founded_at)
    comps_rounds.funded_at = pd.to_datetime(comps_rounds.funded_at)
    comps_rounds['Diff_time_founded_invest'] = abs(comps_rounds.funded_at - comps_rounds.founded_at)/np.timedelta64(12, 'M')
    
    return comps_rounds

## 3  3 - Time between Series A and specific investment

#changes are made !!!!!!!!!

In [28]:
def time_serie_investments(rounds_data, reference):

    ''' company id partitioned. Take a serie X as reference: values = (a, b, c, angel, any on funding_round_code). And create a new column 
    'data_serie_reference' which contains the min date of this serie for each company.
    And also create a new column 'time_serie_investment' with the difference between each round and the date of reference serie, in MONTHS'''
    
    rounds = rounds_data
    rounds.funded_at = pd.to_datetime(rounds.funded_at)
    min_dates = {}
    for id_company in rounds[rounds.funding_round_code == reference].object_id.unique():
        #list_dates_by_comp: list of each company which has a serie X
        list_dates_by_comp = rounds[rounds.funding_round_code == reference].funded_at[rounds.object_id == id_company]
        min_dates[id_company] = min(list_dates_by_comp)

    rounds['date_serie_reference'] = rounds.object_id.map(min_dates)
    rounds['time_serie_investment'] =  (rounds.funded_at - rounds.date_serie_reference)/np.timedelta64(12, 'M')
    
    return rounds

## [Dependent on 1] 2 - Time to series A round

In [37]:
def diff_fund_found_filter(comps, rounds, serie_filtered):
    ''' filter the table from diff_foundation_foundround (merge comps and rounds), by a particular serie (values = a, b ,c ,angel, venture?)'''
    get_table = diff_foundation_fundround(comps, rounds)
    
    return get_table[get_table.funding_round_code == serie_filtered]

## [Dependent on 3] 4 - Number of rounds before Series A

In [85]:
def num_rounds_before(comps, rounds, serie_reference):
    ''' return the companies table with a new column num_round_before which is the number of rounds before the serie you want. time_serie_investments applied inside.'''

    comps = comps.rename(columns={'id': 'object_id'})
    get_table = time_serie_investments(rounds, serie_reference)
    get_table = get_table[get_table.time_serie_investment<0]
    get_table = get_table.groupby('object_id').count()
    get_table = get_table['id'].reset_index(name="num_round_before")
    merge = comps.merge(get_table, how ='left', on = 'object_id')
    return merge

## 7 - Time between Series A and IPO

Make the function in a way that we can easily replace Series A with something else if we decide to switch

    Take date of series A round from funding rounds table (keep only first if several)
    Take date of IPO from IPO table
    Do a left merge on comp ID from IPO to funding rounds
    Create column = date IPO - date Series A
    merge that with company table

In [53]:
#to be merged to companies table
def date_ipo_serie(rounds, ipos, serie_reference):
    ''' get a table '''
    get_rounds = time_serie_investments(rounds, serie_reference)
    get_rounds = get_rounds[['object_id', 'date_serie_reference']].drop_duplicates()
    
    merge = ipos.merge(get_rounds, how = 'left', on = 'object_id')

    merge.public_at = pd.to_datetime(merge.public_at)
    merge['data_serie_reference'] = pd.to_datetime(merge['date_serie_reference'])
    
    merge['diff_ipo_serie'] = (merge['public_at'] - merge['date_serie_reference'])/np.timedelta64(12, 'M')
    
    return merge.T.drop_duplicates().T

In [54]:
df =date_ipo_serie(rounds, ipos, 'angel')

In [37]:
rounds[rounds.object_id=='c:59']

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at,date_serie_reference,time_serie_investment
357,380,380,c:59,1998-08-01,angel,angel,100000.0,100000.0,USD,0.0,...,1,0,1,http://www.google.com/corporate/history.html,NaN,initial-importer,2007-08-18 09:03:04,2011-08-01 20:45:59,1998-08-01,0.000000
358,381,381,c:59,1999-06-07,series-a,a,25000000.0,25000000.0,USD,0.0,...,2,1,0,http://www.google.com/corporate/history.html,NaN,initial-importer,2007-08-18 09:04:02,2011-08-01 20:45:59,1998-08-01,0.848751

In [57]:
rounds[rounds.object_id == 'c:2720']

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at,date_serie_reference,time_serie_investment
1532,1660,1660,c:2720,1996-01-01,series-a,a,1600000.0,1600000.0,USD,0.0,...,1,0,1,http://www.xogroupinc.com/the-knot-inc-company...,The Knot Milestones,initial-importer,2008-02-29 00:38:24,2011-08-22 02:19:36,NaT,NaN
1533,1661,1661,c:2720,1999-04-15,series-c+,c,15000000.0,15000000.0,USD,0.0,...,1,1,0,http://findarticles.com/p/articles/mi_m0EIN/is...,The Knot Receives Strategic Investment From QVC,initial-importer,2008-02-29 00:38:25,2008-02-29 00:38:25,NaT,NaN
1534,1662,1662,c:2720,1998-04-01,series-b,b,3000000.0,3000000.0,USD,0.0,...,1,0,0,http://www.xogroupinc.com/the-knot-inc-company...,The Knot Milestones,initial-importer,2008-02-29 00:38:25,2011-08-22 02:19:36,NaT,NaN

In [55]:
df

,ipo_id,object_id,valuation_amount,valuation_currency_code,stock_symbol,source_url,source_description,public_at,date_serie_reference,diff_ipo_serie
0,1,c:1654,NaN,USD,NASDAQ:AAPL,NaN,NaN,1980-12-19 00:00:00,NaT,NaN
1,2,c:1242,NaN,USD,NASDAQ:MSFT,NaN,NaN,1986-03-13 00:00:00,NaT,NaN
2,3,c:342,NaN,USD,NYSE:DIS,NaN,NaN,1969-06-09 00:00:00,NaT,NaN
3,4,c:59,NaN,USD,NASDAQ:GOOG,NaN,NaN,2004-08-25 00:00:00,1998-08-01 00:00:00,6.0672
4,5,c:317,1e+11,USD,NASDAQ:AMZN,NaN,NaN,1997-05-01 00:00:00,NaT,NaN
5,6,c:1438,3.5e+08,USD,SFLY,http://www.nasdaq.com/markets/ipos/company/shu...,NaN,2006-09-29 00:00:00,NaT,NaN
6,7,c:2644,1.6e+08,USD,DIVX,NaN,NaN,2006-05-01 00:00:00,NaT,NaN
7,8,c:2584,NaN,USD,OPESF,NaN,NaN,2004-03-01 00:00:00,NaT,NaN
8,9,c:2720,NaN,USD,XOXO,NaN,NaN,1999-12-02 00:00:00,NaT,NaN
9,11,c:3316,6e+09,USD,NASDAQ:BMC,NaN,NaN,1988-08-12 00:00:00,NaT,NaN
10,12,c:2537,NaN,USD,NASDAQ:INTU,NaN,NaN,1993-03-19 00:00:00,NaT,NaN
11,13,c:475,2.35e+08,USD,KITD,NaN,NaN,2010-07-27 00:00:00,NaT,NaN
12,14,c:283,NaN,USD,NASDAQ:ADBE,NaN,NaN,1986-08-22 00:00:00,NaT,NaN
13,15,c:3619,NaN,USD,CMNN,NaN,NaN,2000-01-01 00:00:00,NaT,NaN
14,16,c:3658,2e+09,USD,BKS,NaN,NaN,1992-01-01 00:00:00,NaT,NaN
15,17,c:108,NaN,USD,BLNX,NaN,NaN,2007-06-22 00:00:00,NaT,NaN
16,18,c:3754,NaN,JPY,FORR,http://ttwxos.com/,cjhznoa,1987-06-16 00:00:00,NaT,NaN
17,19,c:3952,NaN,USD,TSG,NaN,NaN,2000-01-01 00:00:00,NaT,NaN
18,20,c:4018,4e+09,USD,NASDAQ:BIDU,NaN,NaN,2005-08-05 00:00:00,NaT,NaN
19,21,c:2335,NaN,JPY,NASDAQ:NFLX,http://hbr.org/product/netflix-going-public/an...,Harvard Business Review,2002-05-23 00:00:00,NaT,NaN
20,22,c:29,NaN,USD,NASDAQ:YHOO,NaN,NaN,1996-04-12 00:00:00,NaT,NaN
21,24,c:351,NaN,USD,NYSE:AOL,NaN,NaN,2009-12-04 00:00:00,NaT,NaN
22,25,c:424,NaN,USD,NASDAQ:AKAM,NaN,NaN,1999-09-29 00:00:00,NaT,NaN
23,26,c:20,NaN,USD,NASDAQ:EBAY,NaN,NaN,1998-10-02 00:00:00,NaT,NaN
24,27,c:1972,1.1e+08,USD,NYSE:CRM,NaN,NaN,2004-07-02 00:00:00,NaT,NaN
25,28,c:966,NaN,USD,NYSE:EMC,NaN,NaN,1986-04-11 00:00:00,NaT,NaN
26,29,c:500,1e+08,USD,JTV,NaN,NaN,2006-08-01 00:00:00,NaT,NaN
27,30,c:4495,NaN,NaN,tigr,NaN,NaN,2019-03-20 00:00:00,NaT,NaN
28,31,c:3320,NaN,CAD,NASDAQ:SYMC,NaN,NaN,1989-06-23 00:00:00,NaT,NaN
29,32,c:1863,NaN,USD,XNGAF,NaN,NaN,NaT,2004-05-01 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...
1228,1346,c:281988,NaN,USD,NYSE:RSE,NaN,NaN,2012-01-13 00:00:00,NaT,NaN
1229,1347,c:27295,NaN,USD,TSCO.L,NaN,NaN,1988-07-01 00:00:00,NaT,NaN
1230,1348,c:46339,NaN,USD,CAH,http://ir.cardinalhealth.com/,Cardinal Health,1983-08-04 00:00:00,NaT,NaN
1231,1349,c:24054,NaN,USD,Euronext: CA,NaN,NaN,2012-06-18 00:00:00,NaT,NaN
1232,1351,c:279449,NaN,USD,NASDAQ:GOMO,http://www.chinamoneypodcast.com/2013/11/24/pe...,PE-Backed Sungy Mobile Completes $79M IPO,2013-11-24 00:00:00,NaT,NaN
1233,1352,c:223939,NaN,USD,HSIC,NaN,NaN,1995-11-03 00:00:00,NaT,NaN
1234,1353,c:75577,NaN,USD,NASDAQ:HPOL,NaN,NaN,1999-12-07 00:00:00,NaT,NaN
1235,1354,c:282477,NaN,USD,NASDAQ:NWBO,NaN,NaN,2007-06-28 00:00:00,NaT,NaN
1236,1355,c:225182,NaN,USD,NASDAQ:CSII,http://www.massdevice.com/news/cardiovascular-...,Cardiovascular Systems raises $84.5M through p...,2009-02-26 00:00:00,NaT,NaN
1237,1356,c:185523,38600,USD,SZ002315,http://quote.eastmoney.com/sz002315.html,made-in-china.com stock,1999-12-09 00:00:00,NaT,NaN
1238,1357,c:85862,NaN,USD,NASDAQ:INGN,http://www.pehub.com/2013/12/vc-backed-inogen-...,VC-backed Inogen files for $86.25 mln IPO  Fo...,2008-12-01 00:00:00,NaT,NaN
1239,1358,c:283827,NaN,USD,NYSE:ASGN,NaN,NaN,1992-09-22 00:00:00,NaT,NaN
1240,1359,c:17533,NaN,USD,NASDAQ: SPRD,http://www.reuters.com/article/2007/06/27/spre...,Spreadtrum Communications IPO prices above range,2007-07-06 00:00:00,NaT,NaN
1241,1360,c:284081,NaN,USD,NYSE:NYLD,NaN,NaN,2013-07-17 00:00:00,NaT,NaN
1242,1361,c:284194,NaN,USD,NYSE:ACT,NaN,NaN,2000-01-01 00:00:00,NaT,NaN
1243,1362,c:213595,NaN,USD,Nasdaq:XNCR,http://www.seattlepi.com/business/article/Xenc...,Xencor trades higher after IPO prices at $70M,2013-12-03 00:00:00,NaT,NaN
1244,1363,c:285039,NaN,USD,ASX:TPM,NaN,NaN,2010-11-24 00:00:00,NaT,NaN
1245,1364,c:285065,NaN,USD,OTC:CMI,NaN,NaN,1990-01-02 00:00:00,NaT,NaN
1246,1365,c:31659,NaN,USD,OTC:RHHBY,NaN,NaN,2001-02-12 00:00:00,NaT,NaN
1247,1366,c:212794,NaN,USD,UNH,http://dealbook.on.nytimes.com/public/overview...,NaN,1990-01-01 00:00:00,NaT,NaN
1248,1367,c:220209,NaN,USD,NYSE:WWAV,NaN,NaN,2012-10-26 00:00:00,NaT,NaN
1249,1368,c:157681,NaN,USD,NYSE:CFN,NaN,NaN,2009-08-28 00:00:00,NaT,NaN
1250,1369,c:258527,NaN,USD,NYSE:MRC,NaN,NaN,2012-04-12 00:00:00,NaT,NaN
1251,1370,c:36508,NaN,USD,TYO:3681,http://newsroom.intel.com/community/intel_news...,Chip Shot: Intel Capital Portfolio Company V-C...,2013-12-11 00:00:00,NaT,NaN
1252,1371,c:152753,NaN,USD,NASDAQ:COST,http://phx.corporate-ir.net/phoenix.zhtml?c=83...,Costco Investor Relations,1985-12-05 00:00:00,NaT,NaN
1253,1372,c:267859,NaN,USD,NYSE:EBS,NaN,NaN,2006-11-15 00:00:00,NaT,NaN
1254,1373,c:39330,NaN,USD,NYSE:ARMK,http://www.reuters.com/article/2013/12/11/aram...,Food services firm Aramark raises $725 mln in ...,2013-12-11 00:00:00,NaT,NaN
1255,1374,c:220208,NaN,USD,NYSE:HLT,http://news.hiltonworldwide.com/index.cfm/news...,Hilton Worldwide Prices Initial Public Offering,2008-12-08 00:00:00,NaT,NaN
1256,1375,c:243568,NaN,USD,OTC:BCLI,NaN,NaN,2003-10-07 00:00:00,NaT,NaN
1257,1376,c:235945,NaN,USD,NASDAQ:KIN,http://www.bizjournals.com/sanjose/news/2013/1...,Kindred Biosciences raises $53 million in IPO,2013-12-12 00:00:00,NaT,NaN