In [3]:
import pandas as pd
import numpy as np

# Loading Raw Data

In [44]:
# os.path.join(“..“, “raw_data”, “companies.csv”)
comps = pd.read_csv('..\\raw_data\\companies.csv')
acquisitions = pd.read_csv('..\\raw_data\\acquisitions.csv')
degrees = pd.read_csv('..\\raw_data\\degrees.csv')
founders = pd.read_csv('..\\raw_data\\founders.csv')
rounds = pd.read_csv('..\\raw_data\\funding-rounds.csv')
funds = pd.read_csv('..\\raw_data\\funds.csv')
investments = pd.read_csv('..\\raw_data\\investments.csv')
ipos = pd.read_csv('..\\raw_data\\ipos.csv')
milestones = pd.read_csv('..\\raw_data\\milestones.csv')
people = pd.read_csv('..\\raw_data\\people.csv')
relationships =pd.read_csv('..\\raw_data\\relationships.csv')

# Feature Engineering

#### Change to use in all the functions

In [3]:
comps = comps.rename(columns={'id': 'object_id'})

## 2  1 - Time between founding date and specific investment (Diff_time_founded_invest)

changes are made !!!!

In [10]:
def diff_foundation_fundround(comps_df, rounds_df):
    
    '''Returns a merge table between companies and funding rounds. One column added: difference between the date of the companies fundations
    and each round of investment , in MONTHS. It includes companies_id repeated for each round that is realated with the company '''
    
    comps = comps_df
    rounds = rounds_df
    
    comps = comps.rename(columns={'id': 'object_id'})
    comps_rounds = comps.merge(rounds, how = 'left', on = 'object_id')
    comps_rounds.founded_at = pd.to_datetime(comps_rounds.founded_at)
    comps_rounds.funded_at = pd.to_datetime(comps_rounds.funded_at)
    comps_rounds['Diff_time_founded_invest'] = abs(comps_rounds.funded_at - comps_rounds.founded_at)/np.timedelta64(12, 'M')
    
    return comps_rounds

## 3  3 - Time between Series A and specific investment

#changes are made !!!!!!!!!

In [11]:
def time_serie_investments(rounds_data, reference):

    ''' company id partitioned. Take a serie X as reference: values = round number wished. And create a new column 
    'data_serie_reference' which contains the min date of this serie for each company.
    And also create a new column 'time_serie_investment' with the difference between each round and the date of reference serie, in MONTHS'''
    
    rounds.funded_at = pd.to_datetime(rounds.funded_at)
    
    min_dates = {}
    for id_company in rounds[rounds.number_of_round == reference].object_id.unique():
        #list_dates_by_comp: list of each company which has round number wished
        list_dates_by_comp = rounds[rounds.number_of_round == reference].funded_at[rounds.object_id == id_company]
        min_dates[id_company] = min(list_dates_by_comp)

    rounds['date_serie_reference'] = rounds.object_id.map(min_dates)
    rounds['time_serie_investment'] =  (rounds.funded_at - rounds.date_serie_reference)/np.timedelta64(12, 'M')
    
    return rounds

## Get_round: Get the rounds filtered by one position (of round)

In [14]:
def get_round(rounds, n_reference):
    ''' filter the rounds according the position, ej: 1 round for each company, 2 round for each company
    '''
    
    rounds ['number_of_round'] = rounds.groupby('object_id').cumcount() + 1
    return rounds [rounds.number_of_round == n_reference]

## [Dependent on 1] 2 - Time to series A round

In [12]:
def diff_fund_found_filter(comps, rounds, serie_filtered):
    ''' filter the table from diff_foundation_foundround (merge comps and rounds), by a particular serie (values = a, b ,c ,angel, venture?)'''
    get_table = diff_foundation_fundround(comps, rounds)
    
    return get_table[get_table.funding_round_code == serie_filtered]

## [Dependent on 3] 4 - Number of rounds before Series A

In [13]:
def num_rounds_before(comps, rounds, serie_reference):
    ''' return the companies table with a new column num_round_before which is the number of rounds before the serie you want. time_serie_investments applied inside.'''

    comps = comps.rename(columns={'id': 'object_id'})
    get_table = time_serie_investments(rounds, serie_reference)
    get_table = get_table[get_table.time_serie_investment<0]
    get_table = get_table.groupby('object_id').count()
    get_table = get_table['id'].reset_index(name="num_round_before")
    merge = comps.merge(get_table, how ='left', on = 'object_id')
    return merge

## 7 - Time between Series A and IPO

In [12]:
#to be merged to companies table
def ipos_by_round(rounds, ipos, comps, n_reference):
    ''' get your IPOss matched with a number of round merged on companies'''
    
    ipos = ipos.drop_duplicates(subset = 'object_id')
    comps = comps.rename(columns={'id': 'object_id'})
    
    get_rounds = get_round(rounds, n_reference)
    merge_1 = ipos.merge(get_rounds, how = 'left', on = 'object_id')
    
    merge_2 = merge_1.merge(comps, how = 'left', on = 'object_id')
    
    comps = comps.rename(columns={'object_id': 'id'})
    
    return merge_2

## Acquisitions_by_round:  acquisition table with a number of orund merged on companies

In [165]:
def acquisitions_by_round(rounds, acquisitions, comps, n_reference):
    
        '''get your matched acquisition table with a number of orund merged on companies'''
        
        comps = comps.rename(columns={'id': 'object_id'})        
        acquisitions = acquisitions.rename(columns={'acquired_object_id': 'object_id'})
    
    
        get_rounds = get_round(rounds, n_reference)
        merge = acquisitions.merge(get_rounds, how = 'left', on = 'object_id')
        
        merge_2 = merge.merge(comps, how = 'left', on = 'object_id')
        
        
        return merge.drop(columns= ['created_by', 'created_at', 'updated_at', 'source_url_x', 'source_url_y' ])

## Merge the Number of Founders By Company

In [56]:
def number_of_fuounders(comps, relationships):
    ''' get the number of founders for each company in the company table'''
    relationship_founders = relationships[relationships.founder==True]
    founders_by_comp = pd.DataFrame(relationships_founders.groupby('relationship_object_id')['relationship_object_id'].count())
    founders_by_comp = founders_by_comp.rename(columns = {'relationship_object_id' : 'number_of_founders'}).reset_index().rename(columns ={'relationship_object_id': 'id'})
    
    merge = comps.merge(founders_by_comp, how = 'left', on = 'id')
    
    return merge

## Adding Female Founders

In [109]:
def n_female_founders(comps, founders, relationships):
    '''get your numbers of females for each company ;) '''
    
    merge_1 = relationships.merge(founders[['person_object_id', 'gender']], how = 'left', on = 'person_object_id')

    merge_1 = merge_1[merge_1.founder ==True]
    merge_1 ['n_female_foundes'] = merge_1.gender.map(lambda x: 1 if x=='Female' else 0)
    merge_1 = pd.DataFrame(merge_1.groupby('relationship_object_id')['n_female_foundes'].sum()).reset_index()
    merge_1 = merge_1.rename(columns = {'relationship_object_id':'id'})
    merge_2 = comps.merge(merge_1, how = 'left', on = 'id')

    return merge_2

      relationship_object_id  Female_bin
0                        c:1           0
1                       c:10           0
2                      c:100           0
3                    c:10002           0
4                   c:100062           0
5                     c:1001           0
6                    c:10010           0
7                    c:10011           0
8                    c:10012           0
9                    c:10014           0
10                   c:10015           0
11                  c:100174           0
12                  c:100178           0
13                   c:10018           0
14                  c:100189           0
15                  c:100212           1
16                   c:10022           0
17                   c:10024           0
18                    c:1003           0
19                   c:10034           0
20                  c:100379           0
21                   c:10039           0
22                    c:1004           0
23                   c:10042           0
24                  c:100442           0
25                   c:10053           0
26                   c:10054           0
27                   c:10057           0
28                   c:10059           2
29                    c:1006           0
...                      ...         ...
46277                 f:9595           0
46278                   f:96           0
46279                 f:9645           0
46280                  f:966           0
46281                 f:9669           0
46282                 f:9674           0
46283                  f:968           0
46284                 f:9686           0
46285                  f:969           0
46286                   f:97           0
46287                 f:9732           0
46288                 f:9734           0
46289                 f:9743           0
46290                 f:9763           0
46291                 f:9768           0
46292                 f:9775           0
46293                 f:9789           0
46294                 f:9794           0
46295                 f:9800           1
46296                 f:9823           0
46297                 f:9835           0
46298                 f:9838           0
46299                 f:9869           0
46300                 f:9877           0
46301                   f:99           0
46302                  f:990           0
46303                 f:9916           0
46304                  f:992           0
46305                 f:9969           0
46306                  f:998           0

[46307 rows x 2 columns]

In [73]:
relationships

,relationship_id,person_object_id,relationship_object_id,start_at,end_at,is_past,title,founder
0,1,p:2,c:1,NaN,NaN,0,co-founder/ceo/board of directors,True
1,2,p:3,c:1,NaN,NaN,1,vp marketing,False
2,3,p:4,c:3,NaN,NaN,0,evangelist,False
3,4,p:5,c:3,2006-03-01,2009-12-01,1,senior director strategic alliances,False
4,6,p:7,c:4,2005-07-01,2010-04-05,1,chief executive officer,False
5,7,p:8,c:4,NaN,NaN,1,senior software engineer,False
6,8,p:9,c:4,NaN,NaN,1,systems engineering manager,False
7,9,p:10,c:5,NaN,NaN,0,"founder and ceo, board of directors",True
8,10,p:11,c:5,NaN,NaN,1,co-founder,True
9,11,p:12,c:5,NaN,NaN,1,"chief revenue officer, vp of operations",False
10,12,p:13,c:5,NaN,NaN,1,vp of product management,False
11,13,p:14,c:5,1993-07-04,1982-02-28,1,co-founder,True
12,14,p:16,c:7299,NaN,NaN,1,founder and ceo,True
13,15,p:17,c:7299,NaN,NaN,1,co-founder and cto,True
14,16,p:18,c:7299,2005-09-01,2009-10-01,1,"svp, technology and partnerships",False
15,17,p:19,c:7299,2006-08-01,2009-08-01,1,"vp, finance & administration",False
16,18,p:20,c:7299,NaN,NaN,0,"vp, sales",False
17,19,p:21,c:7299,NaN,NaN,0,"vp, customer service",False
18,20,p:22,c:7299,2005-10-01,2008-03-01,1,"vp, business development",False
19,21,p:23,c:7299,NaN,NaN,1,"vp, engineering",False
20,22,p:24,c:7299,2007-01-01,2009-07-01,1,"vp, marketing",False
21,23,p:25,c:7299,NaN,NaN,0,"vp, product",False
22,25,p:29,f:3,1996-05-01,NaN,0,general partner,False
23,27,p:30,c:9,2006-06-01,2009-07-01,1,founder & chairman,True
24,28,p:31,c:9,NaN,NaN,0,board member,False
25,29,p:26,f:6,NaN,NaN,0,partner,False
26,30,p:32,f:6,NaN,NaN,0,partner,False
27,31,p:33,f:6,NaN,NaN,0,partner,False
28,32,p:34,f:6,NaN,NaN,0,executive general partner,False
29,33,p:35,f:7,NaN,NaN,0,general partner,False
...,...,...,...,...,...,...,...,...
402848,480878,p:268523,c:25744,2007-01-01,2009-03-01,1,vice president of sales - nextwave wireless,False
402849,480879,p:268523,c:230516,2005-01-01,2007-01-01,1,director of business development - marvell sem...,False
402850,480880,p:268523,c:4304,2005-01-01,2005-01-01,1,director of umts business development,False
402851,480881,p:268523,c:4304,2004-01-01,2005-01-01,1,regional manager umts business development,False
402852,480882,p:268523,c:4304,2000-01-01,2004-01-01,1,omap business development manager,False
402853,480883,p:158143,c:12612,NaN,NaN,0,"president & ceo, wolters kluwer health, clinic...",False
402854,480884,p:268523,c:4304,1997-01-01,2000-01-01,1,sales account manager,False
402855,480885,p:268523,c:4304,1996-01-01,1997-01-01,1,technical sales associate,False
402856,480886,p:158143,c:218119,1999-01-01,2006-01-01,1,coo,False
402857,480887,p:158143,c:1916,NaN,1999-01-01,1,vp / gm positions - ge information services,False
402858,480888,p:158143,c:1916,NaN,NaN,1,sr. product/service management positions - ge ...,False
402859,480889,p:268524,c:286211,NaN,NaN,1,managing partner,False
402860,480890,p:268524,c:286212,NaN,NaN,1,managing partner,False
402861,480891,p:268524,c:4715,NaN,NaN,1,engagement manager,False
402862,480892,p:268524,c:4715,NaN,NaN,1,independent management consultant and an engag...,False
402863,480893,p:268524,c:286213,NaN,NaN,1,chief executive officer,False
402864,480894,p:268589,c:12612,2006-06-01,NaN,0,"vp, finance & clinical solutions",False
402865,480895,p:268590,c:286215,NaN,NaN,0,co-founder,True
402866,480896,p:268592,c:256200,NaN,NaN,0,ceo,False
402867,480897,p:268593,c:256200,NaN,NaN,0,coo,False
402868,480898,p:268589,c:12612,NaN,NaN,1,accounting manager for facts & comparisons,False
402869,480899,p:268589,c:12612,NaN,NaN,1,"controller, wolters kluwer health",False
402870,480900,p:268589,c:12612,1997-01-01,NaN,1,"director, accounting - professional & educatio...",False
402871,480901,p:268527,c:39172,2012-04-01,2013-10-01,1,"director, business development",False
402872,480902,p:268527,c:286217,2010-09-01,2012-04-01,1,"sr. manager, ip analytics",False
402873,480903,p:268527,c:286218,2005-01-01,2010-01-01,1,sr. consultant/patent agent,False
402874,480906,p:268597,c:12612,NaN,NaN,0,"vp, gm & editor in chief - clinical decison su...",False
402875,480907,p:268528,c:286152,NaN,NaN,1,vice president,False
402876,480908,p:268528,c:286220,NaN,NaN,1,"general counsel, director of patents and licen...",False
402877,480909,p:268528,c:286221,NaN,NaN,1,design engineer,False