# 12 - Number of companies founder founded before

In [2]:
import pandas as pd
import numpy as np

In [3]:
companies = pd.read_csv("../raw_data/companies.csv")

In [4]:
people = pd.read_csv("../raw_data/people.csv")

In [5]:
relationships = pd.read_csv("../raw_data/relationships.csv")

In [56]:
founders = pd.read_csv("../raw_data/founders.csv")

In [24]:
founders.head()

,person_object_id,permalink,normalized_name,api_path,web_path,api_url,gender,facebook_url,twitter_url,linkedin_url
0,p:10,mark-zuckerberg,mark zuckerberg,people/mark-zuckerberg,person/mark-zuckerberg,https://api.crunchbase.com/v3.1/people/mark-zu...,Male,https://www.facebook.com/zuck,https://twitter.com/finkd,NaN
1,p:25830,ben-padnos,ben padnos,people/ben-padnos,person/ben-padnos,https://api.crunchbase.com/v3.1/people/ben-padnos,Male,http://www.facebook.com/benpadnos,http://twitter.com/benpadnos,http://www.linkedin.com/in/benpadnos
2,p:258233,subba-rao-ambati,subba rao ambati,people/subba-rao-ambati,person/subba-rao-ambati,https://api.crunchbase.com/v3.1/people/subba-r...,Female,NaN,NaN,NaN
3,p:258253,enrico-fiorentin,enrico fiorentin,people/enrico-fiorentin,person/enrico-fiorentin,https://api.crunchbase.com/v3.1/people/enrico-...,Male,NaN,NaN,NaN
4,p:258257,mark-de-quervain,mark de quervain,people/mark-de-quervain,person/mark-de-quervain,https://api.crunchbase.com/v3.1/people/mark-de...,Male,NaN,NaN,NaN

In [6]:
founding = relationships[relationships.founder]

In [7]:
founding = founding.rename(columns={"relationship_object_id":"id"})

In [8]:
founding.shape

(70465, 8)

In [9]:
founding.head()

,relationship_id,person_object_id,id,start_at,end_at,is_past,title,founder
0,1,p:2,c:1,NaN,NaN,0,co-founder/ceo/board of directors,True
7,9,p:10,c:5,NaN,NaN,0,"founder and ceo, board of directors",True
8,10,p:11,c:5,NaN,NaN,1,co-founder,True
11,13,p:14,c:5,1993-07-04,1982-02-28,1,co-founder,True
12,14,p:16,c:7299,NaN,NaN,1,founder and ceo,True

In [10]:
companies[["id","founded_at"]].head()

        id  founded_at
0      c:1  2005-10-17
1     c:10         NaN
2    c:100         NaN
3  c:10000  2008-07-26
4  c:10001  2008-07-26

In [41]:
merged = companies.merge(founding, how="left", on="id")

In [42]:
merged.founded_at = pd.to_datetime(merged.founded_at)

In [43]:
merged.shape

(220110, 31)

In [46]:
merged.head()

,id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,homepage_url,twitter_username,...,funding_total_usd,description,country_code_with_US,relationship_id,person_object_id,start_at,end_at,is_past,title,founder
0,c:1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,NaN,http://wetpaint-inc.com,BachelrWetpaint,...,39750000.0,web Technology Platform Company Wetpaint is ...,USA WA,1.0,p:2,NaN,NaN,0.0,co-founder/ceo/board of directors,True
1,c:1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,NaN,http://wetpaint-inc.com,BachelrWetpaint,...,39750000.0,web Technology Platform Company Wetpaint is ...,USA WA,73820.0,p:59304,NaN,NaN,0.0,"co-founder and vp, social and audience develop...",True
2,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaT,NaN,http://www.flektor.com,NaN,...,0.0,games_video Flektor is a rich-media mash-u...,USA CA,40.0,p:39,2006-05-01,2008-03-01,1.0,co-founder and ceo,True
3,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaT,NaN,http://www.flektor.com,NaN,...,0.0,games_video Flektor is a rich-media mash-u...,USA CA,41.0,p:40,NaN,NaN,1.0,co-founder and cto,True
4,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaT,NaN,http://www.flektor.com,NaN,...,0.0,games_video Flektor is a rich-media mash-u...,USA CA,42.0,p:41,2006-05-15,2008-07-01,1.0,"coo, co-founder",True

In [19]:
# Number of companies founded in total

In [47]:
companies_founded = merged[["person_object_id","founder"]].groupby("person_object_id"\
                    ,as_index=False).sum().rename(columns={"founder":"founded_companies"})

In [53]:
companies_founded.head()

  person_object_id  founded_companies
0             p:10                  1
1          p:10000                  1
2         p:100009                  2
3         p:100017                  1
4         p:100024                  1

In [52]:
companies_founded.founded_companies = companies_founded.founded_companies.astype("int")

In [57]:
founders = founders.merge(companies_founded, how="left", on="person_object_id")

In [58]:
founders.head()

,person_object_id,permalink,normalized_name,api_path,web_path,api_url,gender,facebook_url,twitter_url,linkedin_url,founded_companies
0,p:10,mark-zuckerberg,mark zuckerberg,people/mark-zuckerberg,person/mark-zuckerberg,https://api.crunchbase.com/v3.1/people/mark-zu...,Male,https://www.facebook.com/zuck,https://twitter.com/finkd,NaN,1.0
1,p:25830,ben-padnos,ben padnos,people/ben-padnos,person/ben-padnos,https://api.crunchbase.com/v3.1/people/ben-padnos,Male,http://www.facebook.com/benpadnos,http://twitter.com/benpadnos,http://www.linkedin.com/in/benpadnos,3.0
2,p:258233,subba-rao-ambati,subba rao ambati,people/subba-rao-ambati,person/subba-rao-ambati,https://api.crunchbase.com/v3.1/people/subba-r...,Female,NaN,NaN,NaN,1.0
3,p:258253,enrico-fiorentin,enrico fiorentin,people/enrico-fiorentin,person/enrico-fiorentin,https://api.crunchbase.com/v3.1/people/enrico-...,Male,NaN,NaN,NaN,1.0
4,p:258257,mark-de-quervain,mark de quervain,people/mark-de-quervain,person/mark-de-quervain,https://api.crunchbase.com/v3.1/people/mark-de...,Male,NaN,NaN,NaN,1.0

In [114]:
companies_founded.head()

  person_object_id  founded_companies
0             p:10                  1
1          p:10000                  1
2         p:100009                  2
3         p:100017                  1
4         p:100024                  1

In [121]:
tmp_2 = merged.merge(companies_founded, how="left", on="person_object_id")[["id","founded_companies"]].groupby("id", as_index=False).mean()

In [122]:
tmp_2 = tmp_2.rename(columns={"founded_companies":"mean_comp_founded_ever"})

In [124]:
companies = companies.merge(tmp_2)

In [59]:
## order of companies

In [115]:
merged.shape

(220110, 31)

In [104]:
merged.head()

,id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,homepage_url,twitter_username,...,funding_total_usd,description,country_code_with_US,relationship_id,person_object_id,start_at,end_at,is_past,title,founder
0,c:1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,NaN,http://wetpaint-inc.com,BachelrWetpaint,...,39750000.0,web Technology Platform Company Wetpaint is ...,USA WA,1.0,p:2,NaN,NaN,0.0,co-founder/ceo/board of directors,True
1,c:1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,NaN,http://wetpaint-inc.com,BachelrWetpaint,...,39750000.0,web Technology Platform Company Wetpaint is ...,USA WA,73820.0,p:59304,NaN,NaN,0.0,"co-founder and vp, social and audience develop...",True
2,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaT,NaN,http://www.flektor.com,NaN,...,0.0,games_video Flektor is a rich-media mash-u...,USA CA,40.0,p:39,2006-05-01,2008-03-01,1.0,co-founder and ceo,True
3,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaT,NaN,http://www.flektor.com,NaN,...,0.0,games_video Flektor is a rich-media mash-u...,USA CA,41.0,p:40,NaN,NaN,1.0,co-founder and cto,True
4,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaT,NaN,http://www.flektor.com,NaN,...,0.0,games_video Flektor is a rich-media mash-u...,USA CA,42.0,p:41,2006-05-15,2008-07-01,1.0,"coo, co-founder",True

In [105]:
tmp = merged.sort_values(by=["person_object_id","founded_at"]).groupby("person_object_id").cumcount()

In [106]:
tmp = pd.concat([merged, tmp], axis=1).sort_values(by=["person_object_id","founded_at"])

In [107]:
tmp = tmp.rename(columns={0:"founded_count"})

In [108]:
tmp.loc[tmp.person_object_id.isnull(),'founded_count']=np.nan

In [109]:
tmp = tmp[['id',"founded_count"]].groupby("id",as_index=False).mean().rename(columns={"founded_count":"mean_comp_founded_before"})

In [110]:
tmp.shape

(196553, 2)

In [111]:
tmp.head()

        id  mean_comp_founded_before
0      c:1                       0.5
1     c:10                       0.0
2    c:100                       0.0
3  c:10000                       NaN
4  c:10001                       NaN

In [103]:
companies.shape

(196553, 24)

In [101]:
companies.head()

,id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,homepage_url,twitter_username,...,city,region,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,description,country_code_with_US
0,c:1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,NaN,http://wetpaint-inc.com,BachelrWetpaint,...,Seattle,Seattle,0,0,2005-10-01,2008-05-19,3,39750000.0,web Technology Platform Company Wetpaint is ...,USA WA
1,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaN,NaN,http://www.flektor.com,NaN,...,Culver City,Los Angeles,0,0,NaN,NaN,0,0.0,games_video Flektor is a rich-media mash-u...,USA CA
2,c:100,There,there,/company/there,games_video,acquired,NaN,NaN,http://www.there.com,NaN,...,San Mateo,SF Bay,0,0,NaN,NaN,0,0.0,games_video There.com is an online virtual...,USA CA
3,c:10000,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,NaN,http://www.mywebbo.com,NaN,...,NaN,NaN,0,0,NaN,NaN,0,0.0,network_hosting BRAND NEW ONLINE SOCIAL NE...,NaN
4,c:10001,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,NaN,http://themoviestreamer.com,NaN,...,NaN,NaN,0,0,NaN,NaN,0,0.0,games_video This company shows free movies...,NaN

In [125]:
companies = companies.merge(tmp, how="left", on="id")

In [126]:
companies.head()

,id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,homepage_url,twitter_username,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,description,country_code_with_US,mean_comp_founded_ever,mean_comp_founded_before
0,c:1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,NaN,http://wetpaint-inc.com,BachelrWetpaint,...,0,0,2005-10-01,2008-05-19,3,39750000.0,web Technology Platform Company Wetpaint is ...,USA WA,1.500000,0.5
1,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaN,NaN,http://www.flektor.com,NaN,...,0,0,NaN,NaN,0,0.0,games_video Flektor is a rich-media mash-u...,USA CA,2.333333,0.0
2,c:100,There,there,/company/there,games_video,acquired,NaN,NaN,http://www.there.com,NaN,...,0,0,NaN,NaN,0,0.0,games_video There.com is an online virtual...,USA CA,1.000000,0.0
3,c:10000,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,NaN,http://www.mywebbo.com,NaN,...,0,0,NaN,NaN,0,0.0,network_hosting BRAND NEW ONLINE SOCIAL NE...,NaN,NaN,NaN
4,c:10001,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,NaN,http://themoviestreamer.com,NaN,...,0,0,NaN,NaN,0,0.0,games_video This company shows free movies...,NaN,NaN,NaN

In [128]:
companies.shape

(196553, 26)

In [130]:
import os

In [131]:
comps = pd.read_csv(os.path.join('..',"raw_data","companies.csv"))

In [135]:
comps.head()

,id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,homepage_url,twitter_username,...,city,region,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,description,country_code_with_US
0,c:1,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,NaN,http://wetpaint-inc.com,BachelrWetpaint,...,Seattle,Seattle,0,0,2005-10-01,2008-05-19,3,39750000.0,web Technology Platform Company Wetpaint is ...,USA WA
1,c:10,Flektor,flektor,/company/flektor,games_video,acquired,NaN,NaN,http://www.flektor.com,NaN,...,Culver City,Los Angeles,0,0,NaN,NaN,0,0.0,games_video Flektor is a rich-media mash-u...,USA CA
2,c:100,There,there,/company/there,games_video,acquired,NaN,NaN,http://www.there.com,NaN,...,San Mateo,SF Bay,0,0,NaN,NaN,0,0.0,games_video There.com is an online virtual...,USA CA
3,c:10000,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,NaN,http://www.mywebbo.com,NaN,...,NaN,NaN,0,0,NaN,NaN,0,0.0,network_hosting BRAND NEW ONLINE SOCIAL NE...,NaN
4,c:10001,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,NaN,http://themoviestreamer.com,NaN,...,NaN,NaN,0,0,NaN,NaN,0,0.0,games_video This company shows free movies...,NaN

In [132]:
rounds = pd.read_csv(os.path.join('..',"raw_data","funding-rounds.csv"))

In [136]:
rounds.head()

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at
0,1,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,0.0,NaN,2,0,0,http://www.marketingvox.com/archives/2006/12/2...,NaN,initial-importer,2007-07-04 04:52:57,2008-02-27 23:14:29
1,2,2,c:5,2004-09-01,angel,angel,500000.0,500000.0,USD,0.0,...,0.0,USD,2,0,1,NaN,NaN,initial-importer,2007-05-27 06:08:18,2013-06-28 20:07:23
2,3,3,c:5,2005-05-01,series-a,a,12700000.0,12700000.0,USD,115000000.0,...,0.0,USD,3,0,0,http://www.techcrunch.com/2007/11/02/jim-breye...,Jim Breyer: Extra $500 Million Round For Faceb...,initial-importer,2007-05-27 06:09:10,2013-06-28 20:07:23
3,4,4,c:5,2006-04-01,series-b,b,27500000.0,27500000.0,USD,525000000.0,...,0.0,USD,4,0,0,http://www.facebook.com/press/info.php?factsheet,Facebook Funding,initial-importer,2007-05-27 06:09:36,2013-06-28 20:07:24
4,5,5,c:7299,2006-05-01,series-b,b,10500000.0,10500000.0,USD,0.0,...,0.0,NaN,2,0,0,http://www.techcrunch.com/2006/05/14/photobuck...,PhotoBucket Closes $10.5M From Trinity Ventures,initial-importer,2007-05-29 11:05:59,2008-04-16 17:09:12

In [146]:
def diff_foundation_fundround(comps, rounds):
    comps = comps.rename(columns={'id': 'object_id'})
    '''Returns a merge table between companies and funding rounds. One column added: difference between the date of the companies fundations
    and each round of investment. It includes companies_id repeated for each round that is realated with the company'''
    comps_rounds = comps[["object_id","founded_at"]].merge(rounds, how = 'right', on = 'object_id')
    comps_rounds.founded_at = pd.to_datetime(comps_rounds.founded_at)
    comps_rounds.funded_at = pd.to_datetime(comps_rounds.funded_at)
    comps_rounds['time_founded_invest'] = (comps_rounds.funded_at - comps_rounds.founded_at)/np.timedelta64(12, 'M')
    return comps_rounds

In [147]:
diff_foundation_fundround(comps, rounds)

,object_id,founded_at,id,funding_round_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,...,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at,time_founded_invest
0,c:1,2005-10-17,888,888,2005-10-01,series-a,a,5250000.0,5250000.0,USD,...,NaN,2,0,1,http://seattlepi.nwsource.com/business/246734_...,NaN,initial-importer,2007-11-07 01:01:43,2008-05-19 03:39:17,-0.043807
1,c:1,2005-10-17,889,889,2007-01-01,series-b,b,9500000.0,9500000.0,USD,...,NaN,3,0,0,http://pulse2.com/2007/01/09/wiki-builder-webs...,NaN,initial-importer,2007-11-07 01:05:01,2008-05-19 03:39:17,1.207417
2,c:1,2005-10-17,2312,2312,2008-05-19,series-c+,c,25000000.0,25000000.0,USD,...,NaN,4,1,0,http://www.accel.com/news/news_one_up.php?news...,Accel,mike,2008-05-19 03:39:17,2008-11-04 04:24:30,2.587322
3,c:1001,2007-10-01,1644,1644,2008-02-26,series-a,a,5000000.0,5000000.0,USD,...,NaN,3,1,1,http://www.techcrunch.com/2008/02/25/friendfee...,TechCrunch,initial-importer,2008-02-26 05:05:42,2009-08-10 19:46:53,0.405210
4,c:10014,2008-03-01,6682,6682,2008-09-01,angel,seed,0.0,0.0,NaN,...,NaN,1,1,1,http://uk.techcrunch.com/2008/09/19/seedcamps-...,Seedcamp's winners reflect Europe's startup st...,NaN,2009-06-18 17:59:16,2012-06-06 17:50:10,0.503775
5,c:10015,2007-10-01,3619,3619,2008-10-10,series-a,a,2000000.0,2000000.0,USD,...,USD,2,0,1,http://www.techcrunch.com/2008/10/10/fitbit-ra...,Fitbit Raises Healthy $2 Million From True Ven...,mark,2008-10-10 17:55:39,2013-04-29 17:59:40,1.026715
6,c:10015,2007-10-01,18213,18213,2010-09-10,series-b,b,9000000.0,9000000.0,USD,...,USD,4,0,0,http://techcrunch.com/2010/09/10/fitbit-8-mill...,Fitness Tracker Fitbit Gains Another $8 Million,sophia,2010-09-11 03:46:52,2013-04-29 17:59:40,2.943250
7,c:10015,2007-10-01,27747,27747,2012-01-24,series-c+,c,12000000.0,12000000.0,USD,...,USD,4,0,0,http://techcrunch.com/2012/01/24/fitness-track...,Fitness Tracker Fitbit Raises $12M To Market N...,timircha,2012-01-24 13:02:46,2013-04-29 17:59:41,4.314941
8,c:10015,2007-10-01,45409,45409,2013-08-13,series-c+,d,43000000.0,43000000.0,USD,...,USD,5,1,0,http://techcrunch.com/2013/08/13/fitbit-43m/,Fitbit Raises $43 Million From Qualcomm Ventur...,christinemagee,2013-08-13 18:02:26,2013-11-05 18:31:55,5.867335
9,c:10015,2007-10-01,54006,54006,2012-01-01,venture,unattributed,2069200.0,2069200.0,USD,...,USD,4,0,0,NaN,VC Funding: Q1 2012,bhoomika,2013-11-07 04:59:40,2013-11-07 04:59:40,4.251970
10,c:100155,2003-01-01,25184,25184,2011-09-06,series-b,b,6500000.0,6500000.0,USD,...,USD,3,0,0,http://www.masshightech.com/stories/2011/09/05...,Semiconductor developer MTPV gets $6.5M in Ser...,arun,2011-09-07 02:01:01,2013-11-25 07:13:41,8.679165
11,c:100155,2003-01-01,27815,27815,2012-01-26,series-b,b,3250000.0,3250000.0,USD,...,USD,2,1,0,http://www.finsmes.com/2012/01/mtpv-power-corp...,MTPV Power Corporation Raises Additional $3.25...,timircha,2012-01-27 03:30:57,2013-11-25 07:13:42,9.067948
12,c:100155,2003-01-01,55817,55817,2011-03-08,other,debt_round,375293.0,375293.0,USD,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1444881...,SEC,subrat2013,2013-11-25 07:13:42,2013-11-25 07:13:42,8.180866
13,c:10018,2006-01-01,3257,3257,2008-08-25,series-b,b,8000000.0,8000000.0,USD,...,NaN,3,0,1,http://www.techcrunch.com/2008/08/24/demandbas...,Demandbase Raises $8 Million For Online Lead G...,jason,2008-08-25 04:08:27,2013-03-29 02:43:05,2.647556
14,c:10018,2006-01-01,22965,22965,2011-05-12,series-c+,c,10000000.0,10000000.0,USD,...,NaN,4,0,0,http://techcrunch.com/2011/05/12/demandbase-ra...,Demandbase Raises $10 Million For B2B Marketin...,NaN,2011-05-12 17:26:47,2013-03-29 02:43:05,5.358084
15,c:10018,2006-01-01,36591,36591,2013-03-28,series-c+,d,15000000.0,15000000.0,USD,...,NaN,6,1,0,http://techcrunch.com/2013/03/27/demandbase-ra...,"Demandbase Raises $15M More From Scale, Adobe ...",arun,2013-03-29 02:43:05,2013-03-29 02:43:05,7.236288
16,c:100189,2003-11-01,25185,25185,2003-11-01,angel,seed,250000.0,250000.0,USD,...,NaN,2,1,1,NaN,iQfunds,mwhite41,2011-09-07 02:27:34,2011-09-24 13:13:55,0.000000
17,c:10021,2008-01-01,3256,3256,NaT,angel,angel,0.0,0.0,NaN,...,NaN,1,0,0,NaN,NaN,NaN,2008-08-25 04:03:26,2008-08-25 16:26:39,NaN
18,c:100228,2010-10-01,25187,25187,2011-04-16,angel,angel,100000.0,100000.0,USD,...,NaN,0,1,1,NaN,NaN,ihirehelp,2011-09-07 02:57:58,2011-10-08 04:35:46,0.539368
19,c:100238,2006-01-01,25190,25190,2011-09-06,venture,unattributed,3300000.0,3300000.0,USD,...,NaN,0,0,1,http://www.masshightech.com/stories/2011/09/05...,Cardiosolutions pumps up war chest with new fu...,timircha,2011-09-07 03:12:19,2011-09-07 03:12:19,5.678419
20,c:100238,2006-01-01,31209,31209,2012-07-10,venture,unattributed,8000000.0,8000000.0,USD,...,NaN,1,1,0,http://www.masshightech.com/stories/2012/07/09...,"Cardiosolutions gets $8M, considers acquisition",arun,2012-07-11 02:41:09,2012-07-11 02:41:09,6.521694
21,c:100243,2004-01-01,25189,25189,2011-09-06,venture,unattributed,0.0,0.0,USD,...,USD,1,0,1,http://www.finsmes.com/2011/09/deepflex-closes...,DeepFlex Closes Significant Funding,arun,2011-09-07 03:10:00,2013-04-10 06:32:24,7.679829
22,c:100243,2004-01-01,36897,36897,2013-04-08,venture,unattributed,0.0,0.0,USD,...,USD,5,1,0,http://www.finsmes.com/2013/04/deepflex-receiv...,DeepFlex Receives Equity Investment,timircha,2013-04-10 06:32:25,2013-04-10 06:32:25,9.267815
23,c:100253,NaT,25191,25191,2011-09-06,venture,unattributed,2800000.0,2800000.0,USD,...,NaN,0,1,1,http://www.masshightech.com/stories/2011/09/05...,"Blend Biosciences attracts $2.8M, high-profile...",timircha,2011-09-07 03:21:27,2011-09-07 03:21:27,NaN
24,c:10026,2006-05-04,3258,3258,2007-02-01,angel,angel,130200.0,100000.0,EUR,...,NaN,0,0,1,NaN,NaN,NaN,2008-08-25 09:02:10,2008-08-25 16:29:04,0.747449
25,c:10026,2006-05-04,3259,3259,2007-10-01,angel,angel,284640.0,200000.0,EUR,...,NaN,0,1,0,NaN,NaN,NaN,2008-08-25 09:02:10,2008-08-25 16:29:04,1.410022
26,c:100271,2004-01-01,25192,25192,2011-09-06,series-a,a,1500000.0,1500000.0,USD,...,USD,1,1,1,https://www.fis.dowjones.com/article.aspx?Prod...,Balance Financial Scores $1.5M To Scale Person...,arun,2011-09-07 03:34:11,2013-11-15 23:37:33,7.679829
27,c:1003,2006-01-01,740,740,2007-10-01,series-a,a,2500000.0,2500000.0,USD,...,NaN,1,1,1,http://www.techcrunch.com/2007/10/01/wikinvest...,NaN,initial-importer,2007-10-01 14:47:41,2008-02-25 00:24:38,1.746785
28,c:100317,NaT,25193,25193,2011-09-06,venture,unattributed,0.0,0.0,NaN,...,NaN,1,1,1,http://www.finsmes.com/2011/09/rio-brands-rece...,RIO Brands Receives Private Equity Investment ...,arun,2011-09-07 04:20:31,2011-09-07 04:20:31,NaN
29,c:100331,NaT,25194,25194,2011-09-06,other,grant,2100000.0,2100000.0,USD,...,NaN,1,1,1,http://www.thealarmclock.com/mt/archives/2011/...,Solectria Renewables Receives $2.1 Million Fro...,arun,2011-09-07 04:42:23,2011-09-07 04:42:23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52898,c:246631,NaT,45162,45162,2013-08-07,angel,seed,60000.0,60000.0,USD,...,USD,1,1,0,NaN,NaN,msaldebar,2013-08-11 06:36:53,2013-08-12 13:52:14,NaN
52899,c:215516,NaT,48204,48204,2013-09-09,venture,unattributed,8000000.0,8000000.0,USD,...,USD,1,1,1,http://venturevillage.eu/hellofood-funding,Hellofood announces $8m funding from iMENA Hol...,santosh2013,2013-09-09 14:05:21,2013-09-09 14:05:21,NaN
52900,c:269998,NaT,50995,50995,2013-10-04,venture,partial,2999999.0,2999999.0,USD,...,USD,0,1,0,http://www.sec.gov/Archives/edgar/data/1523429...,SEC,ajit2013,2013-10-07 06:21:16,2013-10-07 06:21:16,NaN
52901,c:269998,NaT,53494,53494,2012-04-01,venture,unattributed,5000000.0,5000000.0,USD,...,USD,1,0,1,http://thenextweb.com/insider/2012/06/18/snapg...,Snapguide should start a how to raise more fu...,rahul569,2013-11-01 06:14:07,2013-11-01 06:14:07,NaN
52902,c:49398,NaT,51544,51544,2011-07-11,series-a,a,10110400.0,10110400.0,USD,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1514071...,SEC,prasant2013,2013-10-10 09:50:45,2013-10-10 09:50:45,NaN
52903,c:270911,NaT,51583,51583,2013-10-10,series-a,a,5000000.0,5000000.0,USD,...,USD,1,1,1,http://techcrunch.com/2013/10/10/level-helps-y...,"Level Helps You Mind Your Money With Apps, Nab...",ramesh2013,2013-10-10 12:29:32,2013-10-10 12:31:45,NaN
52904,c:230921,NaT,52378,52378,2013-04-01,venture,unattributed,4646000.0,4646000.0,USD,...,USD,1,1,1,NaN,VC Funding: Q2 2013 source,rahul569,2013-10-22 10:52:27,2013-10-22 10:52:27,NaN
52905,c:275372,NaT,53116,53116,2013-06-01,angel,seed,45000.0,45000.0,USD,...,USD,0,1,1,NaN,Government Grant,antonrifco,2013-10-29 17:16:58,2013-10-29 23:00:24,NaN
52906,c:51313,NaT,53354,53354,2012-04-01,venture,unattributed,1797000.0,1797000.0,USD,...,USD,1,1,1,NaN,VC Funding: Q2 2012 source,rahul569,2013-10-31 09:37:07,2013-10-31 09:37:07,NaN
52907,c:68946,NaT,53529,53529,2012-04-01,series-c+,c,38097100.0,38097100.0,USD,...,USD,3,1,0,http://www.bizjournals.com/sanjose/news/2012/0...,Palo Alto's TangoMe raises $38.1M,rahul569,2013-11-01 08:57:58,2013-11-01 08:57:58,NaN
52908,c:68946,NaT,55529,55529,2010-11-22,other,debt_round,8650000.0,8650000.0,USD,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1503776...,SEC,ashish2013,2013-11-21 07:39:06,2013-11-21 07:39:06,NaN
52909,c:276201,NaT,53562,53562,2013-10-29,venture,unattributed,250000.0,250000.0,USD,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1590288...,SEC,amit2013,2013-11-01 10:25:21,2013-11-01 10:25:21,NaN
52910,c:276234,NaT,53625,53625,2011-05-27,venture,unattributed,4084999.0,4084999.0,USD,...,USD,0,1,0,http://www.sec.gov/Archives/edgar/data/1428461...,SEC,prasant2013,2013-11-01 13:37:01,2013-11-01 13:37:01,NaN
52911,c:276234,NaT,54426,54426,2011-05-13,other,debt_round,250122.0,250122.0,USD,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1428461...,SEC,prasant2013,2013-11-12 09:33:09,2013-11-12 09:33:09,NaN
52912,c:210890,NaT,53688,53688,2013-11-03,series-a,seed,1859390.0,1900000.0,AUD,...,USD,0,1,1,http://e27.co/2013/11/04/sydney-seed-fund-mana...,"Sydney Seed Fund raises US$1.8M, scouting for ...",kshitish2013,2013-11-04 04:44:34,2013-11-04 04:44:34,NaN
52913,c:277672,NaT,54086,54086,2013-11-07,series-b,b,20000000.0,20000000.0,USD,...,USD,3,1,1,http://www.prweb.com/releases/jut/2013/prweb11...,Jut raises $20 million,apurvadave,2013-11-07 17:17:26,2013-11-08 15:28:09,NaN
52914,c:276706,NaT,54336,54336,2011-05-13,other,debt_round,1500000.0,1500000.0,USD,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/818033/...,SEC,prasant2013,2013-11-11 12:20:53,2013-11-11 12:20:53,NaN
52915,c:278776,NaT,54535,54535,2013-04-01,angel,seed,100000.0,100000.0,USD,...,USD,0,1,1,NaN,NaN,aakanksha,2013-11-13 05:19:34,2013-11-13 05:19:34,NaN
52916,c:279804,NaT,54920,54920,2013-11-15,venture,unattributed,0.0,0.0,USD,...,USD,1,1,1,http://www.finsmes.com/2013/11/meradoctor-rece...,MeraDoctor Receives Investment from Accion,ramesh2013,2013-11-15 13:07:18,2013-11-15 13:07:18,NaN
52917,c:193962,NaT,55154,55154,2013-11-15,venture,unattributed,2700000.0,2700000.0,USD,...,USD,1,1,1,http://www.pehub.com/2013/11/15/greenhouse-sco...,Greenhouse scores $2.7 mln,rahul569,2013-11-19 05:27:11,2013-11-19 05:27:11,NaN
52918,c:269728,NaT,55358,55358,2013-08-14,series-a,seed,5600000.0,5600000.0,USD,...,USD,7,1,1,http://techcrunch.com/2013/08/14/thirdlove-5-6...,ThirdLove Raises $5.6M To Help You Find The Ri...,rahul569,2013-11-20 08:44:10,2013-11-20 08:44:10,NaN
52919,c:78698,NaT,55492,55492,2013-11-20,series-a,a,15000000.0,15000000.0,USD,...,USD,1,1,1,http://www.businesswire.com/news/home/20131120...,Apartment List Raises $15 Million in Series A ...,rahul569,2013-11-21 05:55:55,2013-11-21 05:55:55,NaN
52920,c:196289,NaT,56054,56054,2011-03-01,other,debt_round,925000.0,925000.0,USD,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1514071...,SEC,amit2013,2013-11-26 10:46:43,2013-11-26 10:46:43,NaN
52921,c:282450,NaT,56158,56158,2013-11-26,series-a,seed,2600000.0,2600000.0,USD,...,USD,0,1,1,http://t.co/mSzEDwK9sR,"Atoms, closed $2.6Mil seed funding",ashish2013,2013-11-27 04:41:32,2013-11-27 04:42:19,NaN
52922,c:146919,NaT,56184,56184,2013-11-06,other,debt_round,4900000.0,4900000.0,USD,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1376277...,SEC,ajit2013,2013-11-27 07:14:26,2013-11-27 07:14:26,NaN
52923,c:282847,NaT,56454,56454,2011-01-31,other,debt_round,5500000.0,5500000.0,USD,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1164994...,SEC,prasant2013,2013-11-28 12:28:12,2013-11-28 12:28:12,NaN
52924,c:55477,NaT,56542,56542,2011-01-13,venture,unattributed,10633274.0,10633274.0,USD,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1499883...,SEC,subrat2013,2013-11-29 06:05:55,2013-11-29 06:05:55,NaN
52925,c:55477,NaT,56543,56543,2012-05-31,venture,unattributed,2125716.0,2125716.0,USD,...,USD,0,1,0,http://www.sec.gov/Archives/edgar/data/1499883...,SEC,subrat2013,2013-11-29 06:06:55,2013-11-29 06:06:55,NaN
52926,c:283492,NaT,56928,56928,2013-12-03,venture,unattributed,3602480.0,2800000.0,EUR,...,USD,5,1,1,http://www.finsmes.com/2013/12/eblink-raises-e...,EBlink Raises 2.8M in Financing,ashish2013,2013-12-04 04:05:07,2013-12-04 04:05:07,NaN
52927,c:284191,NaT,57063,57063,2013-12-04,venture,unattributed,7000000.0,7000000.0,USD,...,USD,4,1,1,http://www.finsmes.com/2013/12/acousticeye-clo...,AcousticEye Closes $7M Funding,ashish2013,2013-12-05 04:07:41,2013-12-05 04:07:41,NaN

In [145]:
rounds.shape

(52928, 23)

In [148]:
rounds[rounds.funding_round_code == 'a'].object_id.unique()

array(['c:5', 'c:9', 'c:14', ..., 'c:161321', 'c:211890', 'c:285864'],
      dtype=object)

In [149]:
list_dates_by_comp = rounds[rounds.funding_round_code == 'a'].funded_at[rounds.object_id == 'c:5']

In [150]:
list_dates_by_comp

2    2005-05-01
Name: funded_at, dtype: object

In [151]:
def time_serie_investments(rounds, reference='a'):

    ''' Take a serie X as reference: values = (a, b, c, angel, any on funding_round_code). And create a new column 'data_serie_reference' which contains the min date of this serie for each company.
    And also create a new column 'time_serie_investment' with the difference between each round and the date of reference serie'''
    rounds = pd.read_csv(os.path.join('..',"raw_data","funding-rounds.csv"))
    rounds.funded_at = pd.to_datetime(rounds.funded_at)
    min_dates = {}
    for id_company in rounds[rounds.funding_round_code == reference].object_id.unique():
        #list_dates_by_comp: list of each company which has a serie X
        list_dates_by_comp = rounds[rounds.funding_round_code == reference].funded_at[rounds.object_id == id_company]
        min_dates[id_company] = min(list_dates_by_comp)

    rounds[f'date_serie_{reference}'] = rounds.object_id.map(min_dates)
    rounds['time_serie_investment'] =  rounds[f'date_serie_{reference}'] - rounds.funded_at
    
    return rounds

In [152]:
time_serie_investments(rounds, reference='a')

KeyboardInterrupt:

In [153]:
rounds.funded_at = pd.to_datetime(rounds.funded_at)

In [157]:
rounds.funding_round_code.value_counts()

unattributed        12227
seed                11608
a                    7999
b                    4892
debt_round           3409
angel                3239
partial              3115
c                    2499
d                    1129
private_equity       1043
grant                 776
e                     430
convertible           187
f                     145
crowd                 111
post_ipo_equity        80
secondary_market       16
g                      13
post_ipo_debt           7
crowd_equity            3
Name: funding_round_code, dtype: int64

In [158]:
rounds.funding_round_type.value_counts()

venture           15342
angel             13163
series-a           9873
series-b           4892
series-c+          4216
other              4201
private-equity     1043
crowdfunding        111
post-ipo             87
Name: funding_round_type, dtype: int64

In [163]:
rounds[rounds.funding_round_code == 'a'].merge(rounds[rounds.funding_round_type == 'series-a'][["funding_round_id","funding_round_type"]]\
                                               , how="outer", on="funding_round_id")

,id,funding_round_id,object_id,funded_at,funding_round_type_x,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at,funding_round_type_y
0,3.0,3,c:5,2005-05-01,series-a,a,12700000.0,12700000.0,USD,115000000.0,...,USD,3.0,0.0,0.0,http://www.techcrunch.com/2007/11/02/jim-breye...,Jim Breyer: Extra $500 Million Round For Faceb...,initial-importer,2007-05-27 06:09:10,2013-06-28 20:07:23,series-a
1,6.0,6,c:9,2007-01-01,series-a,a,1500000.0,1500000.0,USD,8500000.0,...,USD,1.0,0.0,1.0,NaN,NaN,initial-importer,2007-05-31 20:19:28,2009-01-19 18:29:39,series-a
2,9.0,9,c:14,2007-05-01,series-a,a,6300000.0,6300000.0,USD,0.0,...,NaN,2.0,0.0,1.0,http://www.techcrunch.com/2007/05/31/gizmoz-la...,NaN,initial-importer,2007-06-01 20:09:47,2008-03-17 04:11:44,series-a
3,13.0,13,c:16,2007-06-01,series-a,a,13500000.0,13500000.0,USD,0.0,...,NaN,3.0,0.0,1.0,http://www.techcrunch.com/2007/03/14/new-music...,NaN,initial-importer,2007-06-05 05:56:34,2008-11-20 02:59:19,series-a
4,14.0,14,c:15,2007-06-01,series-a,a,3710000.0,3710000.0,USD,0.0,...,USD,6.0,0.0,0.0,NaN,NaN,initial-importer,2007-06-02 07:49:08,2008-06-02 21:46:48,series-a
5,17.0,17,c:26,2005-06-01,series-a,a,13200000.0,13200000.0,USD,0.0,...,NaN,1.0,1.0,1.0,http://www.redherring.com/Article.aspx?a=21800...,NaN,initial-importer,2007-06-09 10:18:10,2012-10-18 21:31:50,series-a
6,18.0,18,c:22,2007-06-01,series-a,a,1500000.0,1500000.0,USD,0.0,...,NaN,1.0,0.0,1.0,http://venturebeat.com/2007/06/06/meetmoi-rais...,NaN,initial-importer,2007-06-07 11:57:59,2012-09-27 02:47:19,series-a
7,19.0,19,c:23,2007-05-09,series-a,a,45000000.0,45000000.0,USD,0.0,...,NaN,3.0,1.0,1.0,http://www.lksf.org/eng/media/press/20070510.s...,Joost Announces $45 million Funding,initial-importer,2007-06-09 07:24:20,2010-02-24 18:50:18,series-a
8,20.0,20,c:27,2002-11-01,series-a,a,3800000.0,3800000.0,USD,0.0,...,USD,2.0,0.0,1.0,http://www.plaxo.com/about/releases/release-02...,Plaxo Press Release - 2/18/2003,initial-importer,2007-06-09 14:32:59,2008-05-20 20:43:02,series-a
9,22.0,22,c:30,2007-06-01,series-a,a,12500000.0,12500000.0,USD,0.0,...,USD,5.0,1.0,0.0,"http://www.powerset.com/press/seriesa, http://...",NaN,initial-importer,2007-06-11 19:36:06,2008-05-13 15:59:39,series-a
10,27.0,27,c:34,2006-05-01,series-a,a,2500000.0,2500000.0,USD,0.0,...,USD,2.0,0.0,1.0,http://venturebeat.com/2007/03/06/widget-compa...,"Widget company, Clearspring, says it leads mar...",initial-importer,2007-06-13 09:04:50,2013-09-06 11:20:07,series-a
11,31.0,31,c:35,2007-06-01,series-a,a,5000000.0,5000000.0,USD,0.0,...,USD,4.0,0.0,1.0,http://www.techcrunch.com/2007/06/13/openads-o...,NaN,initial-importer,2007-06-13 18:26:31,2013-07-18 17:28:21,series-a
12,32.0,32,c:38,2007-07-01,series-a,a,2250000.0,2250000.0,USD,0.0,...,USD,4.0,0.0,1.0,http://www.kyte.tv/press/release/20070423.html,kyte.tv takes self expression to the next level,initial-importer,2007-06-14 18:34:46,2013-07-31 07:52:30,series-a
13,37.0,37,c:44,2005-12-01,series-a,a,5000000.0,5000000.0,USD,0.0,...,NaN,3.0,0.0,0.0,http://www.techcrunch.com/2006/10/23/jingle-ne...,NaN,initial-importer,2007-06-16 06:13:46,2009-01-27 17:58:11,series-a
14,40.0,40,c:53,2006-10-01,series-a,a,6000000.0,6000000.0,USD,0.0,...,USD,1.0,0.0,1.0,NaN,Lifelock,initial-importer,2007-06-18 11:47:12,2013-12-06 20:45:22,series-a
15,41.0,41,c:46,2006-03-01,series-a,a,6000000.0,6000000.0,USD,0.0,...,NaN,2.0,0.0,1.0,NaN,NaN,initial-importer,2007-06-19 03:17:17,2008-05-05 20:05:17,series-a
16,44.0,44,c:54,2007-06-01,series-a,a,4000000.0,4000000.0,USD,0.0,...,NaN,2.0,1.0,0.0,http://blog.wesabe.com/2007/06/20/wesabe-raise...,NaN,initial-importer,2007-06-20 11:05:08,2008-02-25 00:23:58,series-a
17,46.0,46,c:58,2005-04-01,series-a,a,7500000.0,7500000.0,USD,0.0,...,USD,2.0,0.0,1.0,NaN,NaN,initial-importer,2007-06-21 06:08:33,2013-09-24 22:33:21,series-a
18,50.0,50,c:69,2007-02-15,series-a,a,1500000.0,1500000.0,USD,0.0,...,NaN,1.0,0.0,1.0,http://www.techcrunch.com/2007/02/20/union-squ...,NaN,initial-importer,2008-02-05 22:44:23,2008-10-11 19:42:12,series-a
19,52.0,52,c:72,2006-01-01,series-a,a,4000000.0,4000000.0,USD,0.0,...,NaN,1.0,1.0,1.0,http://www.thealarmclock.com/mt/archives/2007/...,We Almost Subscribed To Grand Central. Will Wa...,initial-importer,2007-06-25 20:49:00,2011-05-06 21:50:57,series-a
20,54.0,54,c:1896,2007-01-01,series-a,a,900000.0,900000.0,USD,0.0,...,NaN,1.0,0.0,1.0,NaN,NaN,initial-importer,2008-01-30 12:36:49,2008-08-12 18:01:07,series-a
21,58.0,58,c:78,2005-03-01,series-a,a,0.0,0.0,NaN,0.0,...,NaN,3.0,0.0,1.0,http://blog.topix.com/pdf/press_2005_03_23.pdf,NaN,initial-importer,2007-06-27 08:39:18,2008-12-11 06:13:13,series-a
22,61.0,61,c:80,2005-01-01,series-a,a,8000000.0,8000000.0,USD,0.0,...,NaN,2.0,0.0,1.0,http://www.angelscorner.com/news.htm,NaN,initial-importer,2007-06-27 10:43:34,2008-04-27 22:46:38,series-a
23,62.0,62,c:82,2006-09-01,series-a,a,1000000.0,1000000.0,USD,0.0,...,NaN,2.0,0.0,1.0,http://venturebeat.com/2006/09/25/digg-founder...,NaN,initial-importer,2007-06-28 07:32:43,2013-03-26 23:05:38,series-a
24,64.0,64,c:83,2006-03-01,series-a,a,0.0,0.0,NaN,0.0,...,NaN,2.0,1.0,1.0,http://techcrunch.com/2006/03/06/allpeers-nail...,AllPeers Nails Series A Funding,initial-importer,2007-06-28 07:55:00,2010-03-06 00:28:43,series-a
25,65.0,65,c:84,2006-06-01,series-a,a,5000000.0,5000000.0,USD,0.0,...,USD,2.0,0.0,0.0,http://www.techcrunch.com/2006/08/02/kleiner-p...,NaN,initial-importer,2007-06-28 08:07:50,2013-06-19 11:16:20,series-a
26,67.0,67,c:86,2007-01-01,series-a,a,13000000.0,13000000.0,USD,0.0,...,NaN,2.0,1.0,0.0,http://sanjose.bizjournals.com/sanjose/stories...,NaN,initial-importer,2007-06-28 08:33:24,2010-04-12 02:11:34,series-a
27,69.0,69,c:89,2006-12-01,series-a,a,7000000.0,7000000.0,USD,0.0,...,NaN,2.0,1.0,1.0,http://www.spock.com/do/pages/pr_series_a,NaN,initial-importer,2007-06-28 09:04:11,2008-05-10 17:30:20,series-a
28,70.0,70,c:90,2007-01-01,series-a,a,4000000.0,4000000.0,USD,0.0,...,NaN,2.0,0.0,1.0,http://www.techcrunch.com/2007/01/21/four-mont...,NaN,initial-importer,2007-06-28 09:10:05,2009-03-12 23:51:45,series-a
29,71.0,71,c:91,2007-01-01,series-a,a,4250000.0,4250000.0,USD,0.0,...,NaN,3.0,0.0,0.0,http://www.businesswire.com/portal/site/google...,press release,initial-importer,2007-06-28 09:30:20,2008-06-25 17:10:28,series-a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9843,NaN,56791,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9844,NaN,56793,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9845,NaN,56805,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9846,NaN,56868,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9847,NaN,56937,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9848,NaN,56989,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9849,NaN,57134,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9850,NaN,57138,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9851,NaN,57173,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9852,NaN,57178,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9853,NaN,57191,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9854,NaN,57245,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9855,NaN,57304,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9856,NaN,57324,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9857,NaN,57326,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9858,NaN,57373,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9859,NaN,57412,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9860,NaN,57467,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9861,NaN,57575,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9862,NaN,57576,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9863,NaN,57585,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9864,NaN,57659,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9865,NaN,57731,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9866,NaN,57734,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9867,NaN,57765,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9868,NaN,57770,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9869,NaN,57772,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9870,NaN,57776,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9871,NaN,57815,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a
9872,NaN,57902,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,series-a

In [173]:
tmp1 = rounds[rounds.funding_round_code == 'a'].sort_values(by="funded_at").groupby("object_id",as_index=False).first()

In [185]:
tmp2 = rounds[rounds.funding_round_type == 'series-a'].sort_values(by="funded_at").groupby("object_id",as_index=False).first()

In [186]:
tmp2 = pd.concat([tmp1,tmp2])[["object_id","funded_at"]].dropna().drop_duplicates('object_id').rename(columns={'funded_at':"date_series_a"})

In [187]:
tmp2.head()

  object_id date_series_a
0       c:1    2005-10-01
1    c:1001    2008-02-26
2   c:10015    2008-10-10
3  c:100271    2011-09-06
4    c:1003    2007-10-01

In [188]:
rounds.merge(tmp2, how="left", on="object_id")

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at,date_series_a
0,1,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,NaN,2,0,0,http://www.marketingvox.com/archives/2006/12/2...,NaN,initial-importer,2007-07-04 04:52:57,2008-02-27 23:14:29,2005-10-01
1,2,2,c:5,2004-09-01,angel,angel,500000.0,500000.0,USD,0.0,...,USD,2,0,1,NaN,NaN,initial-importer,2007-05-27 06:08:18,2013-06-28 20:07:23,2005-05-01
2,3,3,c:5,2005-05-01,series-a,a,12700000.0,12700000.0,USD,115000000.0,...,USD,3,0,0,http://www.techcrunch.com/2007/11/02/jim-breye...,Jim Breyer: Extra $500 Million Round For Faceb...,initial-importer,2007-05-27 06:09:10,2013-06-28 20:07:23,2005-05-01
3,4,4,c:5,2006-04-01,series-b,b,27500000.0,27500000.0,USD,525000000.0,...,USD,4,0,0,http://www.facebook.com/press/info.php?factsheet,Facebook Funding,initial-importer,2007-05-27 06:09:36,2013-06-28 20:07:24,2005-05-01
4,5,5,c:7299,2006-05-01,series-b,b,10500000.0,10500000.0,USD,0.0,...,NaN,2,0,0,http://www.techcrunch.com/2006/05/14/photobuck...,PhotoBucket Closes $10.5M From Trinity Ventures,initial-importer,2007-05-29 11:05:59,2008-04-16 17:09:12,2005-03-01
5,6,6,c:9,2007-01-01,series-a,a,1500000.0,1500000.0,USD,8500000.0,...,USD,1,0,1,NaN,NaN,initial-importer,2007-05-31 20:19:28,2009-01-19 18:29:39,2007-01-01
6,7,7,c:9,2007-03-01,series-b,b,10000000.0,10000000.0,USD,100000000.0,...,USD,1,0,0,http://www.techcrunch.com/2007/03/05/100-milli...,100 Million Valuation for Geni,initial-importer,2007-05-31 20:35:03,2009-01-19 18:29:39,2007-01-01
7,8,8,c:13,2005-12-01,series-a,seed,1500000.0,1500000.0,USD,0.0,...,NaN,4,0,0,http://www.techcrunch.com/2006/11/14/stumbleup...,StumbleUpon May Be For Sale: 50M,initial-importer,2007-06-01 19:14:34,2011-03-10 02:38:18,2009-04-13
8,9,9,c:14,2007-05-01,series-a,a,6300000.0,6300000.0,USD,0.0,...,NaN,2,0,1,http://www.techcrunch.com/2007/05/31/gizmoz-la...,NaN,initial-importer,2007-06-01 20:09:47,2008-03-17 04:11:44,2007-05-01
9,10,10,c:15,2006-06-01,angel,seed,12000.0,12000.0,USD,0.0,...,NaN,1,0,1,http://www.techcrunch.com/2007/03/06/scribd-yo...,"Scribd ""YouTube for Documents"" Gets $300K",initial-importer,2007-06-02 07:36:21,2012-08-13 23:30:48,2007-06-01
10,11,11,c:15,2007-01-01,angel,angel,40000.0,40000.0,USD,0.0,...,NaN,1,0,0,NaN,NaN,initial-importer,2007-06-02 07:38:17,2011-04-12 00:57:58,2007-06-01
11,12,12,c:16,2007-06-01,series-b,b,40000000.0,40000000.0,USD,0.0,...,NaN,4,0,1,http://www.socaltech.com/slacker_raises_4_m/s-...,NaN,initial-importer,2007-06-04 08:48:44,2008-11-20 02:59:19,2007-06-01
12,13,13,c:16,2007-06-01,series-a,a,13500000.0,13500000.0,USD,0.0,...,NaN,3,0,1,http://www.techcrunch.com/2007/03/14/new-music...,NaN,initial-importer,2007-06-05 05:56:34,2008-11-20 02:59:19,2007-06-01
13,14,14,c:15,2007-06-01,series-a,a,3710000.0,3710000.0,USD,0.0,...,USD,6,0,0,NaN,NaN,initial-importer,2007-06-02 07:49:08,2008-06-02 21:46:48,2007-06-01
14,16,16,c:18,2007-01-01,series-b,b,5700000.0,5700000.0,USD,0.0,...,NaN,2,0,0,NaN,company,initial-importer,2007-06-05 12:39:17,2011-08-22 21:33:27,2005-01-01
15,17,17,c:26,2005-06-01,series-a,a,13200000.0,13200000.0,USD,0.0,...,NaN,1,1,1,http://www.redherring.com/Article.aspx?a=21800...,NaN,initial-importer,2007-06-09 10:18:10,2012-10-18 21:31:50,2005-06-01
16,18,18,c:22,2007-06-01,series-a,a,1500000.0,1500000.0,USD,0.0,...,NaN,1,0,1,http://venturebeat.com/2007/06/06/meetmoi-rais...,NaN,initial-importer,2007-06-07 11:57:59,2012-09-27 02:47:19,2007-06-01
17,19,19,c:23,2007-05-09,series-a,a,45000000.0,45000000.0,USD,0.0,...,NaN,3,1,1,http://www.lksf.org/eng/media/press/20070510.s...,Joost Announces $45 million Funding,initial-importer,2007-06-09 07:24:20,2010-02-24 18:50:18,2007-05-09
18,20,20,c:27,2002-11-01,series-a,a,3800000.0,3800000.0,USD,0.0,...,USD,2,0,1,http://www.plaxo.com/about/releases/release-02...,Plaxo Press Release - 2/18/2003,initial-importer,2007-06-09 14:32:59,2008-05-20 20:43:02,2002-11-01
19,21,21,c:27,2003-07-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,USD,3,0,0,http://www.plaxo.com/about/releases/release-07...,Plaxo Press Release - 7/28/2003,initial-importer,2007-06-13 09:32:45,2008-05-20 20:43:02,2002-11-01
20,22,22,c:30,2007-06-01,series-a,a,12500000.0,12500000.0,USD,0.0,...,USD,5,1,0,"http://www.powerset.com/press/seriesa, http://...",NaN,initial-importer,2007-06-11 19:36:06,2008-05-13 15:59:39,2007-06-01
21,23,23,c:31,2006-06-01,series-c+,c,10520000.0,10520000.0,USD,0.0,...,NaN,3,0,0,http://www.svdaily.com/technorati.html,NaN,initial-importer,2007-06-12 04:31:19,2008-06-14 02:11:37,2002-09-01
22,24,24,c:31,2004-09-01,series-b,b,6500000.0,6500000.0,USD,0.0,...,NaN,1,0,0,http://www.stockphototalk.com/phototalk/2004/0...,NaN,initial-importer,2007-06-12 05:22:48,2008-06-14 02:11:37,2002-09-01
23,27,27,c:34,2006-05-01,series-a,a,2500000.0,2500000.0,USD,0.0,...,USD,2,0,1,http://venturebeat.com/2007/03/06/widget-compa...,"Widget company, Clearspring, says it leads mar...",initial-importer,2007-06-13 09:04:50,2013-09-06 11:20:07,2006-05-01
24,28,28,c:34,2007-02-01,series-b,b,5500000.0,5500000.0,USD,0.0,...,USD,6,0,0,http://venturebeat.com/2007/03/06/widget-compa...,"Widget company, Clearspring, says it leads mar...",initial-importer,2007-06-13 09:05:28,2013-09-06 11:20:07,2006-05-01
25,29,29,c:27,2004-04-01,series-c+,c,7000000.0,7000000.0,USD,0.0,...,USD,4,0,0,http://sanjose.bizjournals.com/sanjose/stories...,Plaxo connects to more funding,initial-importer,2007-06-13 09:33:11,2008-05-20 20:43:02,2002-11-01
26,30,30,c:27,2007-02-01,series-c+,d,9000000.0,9000000.0,USD,0.0,...,USD,1,1,0,NaN,EDGAR,initial-importer,2007-06-13 09:33:45,2010-03-04 14:10:54,2002-11-01
27,31,31,c:35,2007-06-01,series-a,a,5000000.0,5000000.0,USD,0.0,...,USD,4,0,1,http://www.techcrunch.com/2007/06/13/openads-o...,NaN,initial-importer,2007-06-13 18:26:31,2013-07-18 17:28:21,2007-06-01
28,32,32,c:38,2007-07-01,series-a,a,2250000.0,2250000.0,USD,0.0,...,USD,4,0,1,http://www.kyte.tv/press/release/20070423.html,kyte.tv takes self expression to the next level,initial-importer,2007-06-14 18:34:46,2013-07-31 07:52:30,2007-07-01
29,33,33,c:40,2006-04-01,series-b,b,12500000.0,12500000.0,USD,0.0,...,NaN,4,0,0,http://www.socaltech.com/veoh_gets_____m_from_...,"Veoh Gets $12.5M From Eisner, Others",initial-importer,2007-06-15 09:36:17,2008-06-03 19:26:18,2005-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52898,57923,57923,c:286180,2010-02-03,venture,unattributed,750000.0,750000.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1482482...,SEC,santosh2013,2013-12-12 12:54:25,2013-12-12 12:54:25,NaT
52899,57924,57924,c:286179,2013-12-11,other,debt_round,525000.0,525000.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1594007...,SEC,amit2013,2013-12-12 12:54:31,2013-12-12 12:54:31,NaT
52900,57925,57925,c:243568,2013-12-12,other,grant,800000.0,800000.0,USD,0.0,...,USD,0,1,0,http://jewishbusinessnews.com/2013/12/12/brain...,"BrainStorm Receives $800,000 Non-Dilutive Gran...",arun,2013-12-12 12:54:57,2013-12-12 12:54:57,NaT
52901,57926,57926,c:15847,2013-12-12,venture,unattributed,15000000.0,15000000.0,USD,0.0,...,USD,4,1,0,http://www.pehub.com/2013/12/mocana-raises-15-...,Mocana raises $15 mln in strategic funding; GE...,ramesh2013,2013-12-12 12:57:35,2013-12-12 12:57:35,2006-09-14
52902,57927,57927,c:221090,2010-02-03,other,debt_round,1700000.0,1700000.0,USD,0.0,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1481632...,SEC,santosh2013,2013-12-12 13:02:12,2013-12-12 13:02:12,NaT
52903,57928,57928,c:286182,2013-12-11,venture,unattributed,500000.0,500000.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1593866...,SEC,amit2013,2013-12-12 13:02:28,2013-12-12 13:02:28,NaT
52904,57929,57929,c:286183,2013-12-12,angel,seed,225000.0,225000.0,USD,0.0,...,USD,3,1,1,http://www.finsmes.com/2013/12/wedding-spot-ra...,Wedding Spot Raises $225K in Seed Funding,ramesh2013,2013-12-12 13:07:40,2013-12-12 13:07:40,NaT
52905,57930,57930,c:196653,2010-02-03,venture,unattributed,4000185.0,4000185.0,USD,0.0,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1482981...,SEC,santosh2013,2013-12-12 13:10:17,2013-12-12 13:10:17,NaT
52906,57931,57931,c:217789,2013-12-11,venture,unattributed,9329636.0,9329636.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1589577...,SEC,amit2013,2013-12-12 13:10:24,2013-12-12 13:10:24,NaT
52907,57932,57932,c:67626,2010-02-03,other,debt_round,600000.0,600000.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1339837...,SEC,santosh2013,2013-12-12 13:12:46,2013-12-12 13:12:46,NaT
52908,57933,57933,c:43826,2010-02-03,venture,partial,2972576.0,2972576.0,USD,0.0,...,USD,0,0,0,http://www.sec.gov/Archives/edgar/data/1138818...,SEC,santosh2013,2013-12-12 13:16:24,2013-12-12 13:16:24,NaT
52909,57934,57934,c:286184,2013-12-11,venture,unattributed,12999000.0,12999000.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1552224...,SEC,amit2013,2013-12-12 13:17:16,2013-12-12 13:17:16,NaT
52910,57935,57935,c:83448,2010-02-03,venture,partial,275000.0,275000.0,USD,0.0,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1483094...,SEC,santosh2013,2013-12-12 13:17:37,2013-12-12 13:17:37,2011-07-27
52911,57936,57936,c:286186,2010-04-07,venture,partial,2156061.0,2156061.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1488527...,SEC,prasant2013,2013-12-12 13:20:39,2013-12-12 13:20:39,NaT
52912,57937,57937,c:44384,2010-04-07,other,debt_round,150000.0,150000.0,USD,0.0,...,USD,0,0,0,http://www.sec.gov/Archives/edgar/data/1372965...,SEC,prasant2013,2013-12-12 13:25:51,2013-12-12 13:25:51,2007-07-16
52913,57938,57938,c:232348,2010-02-03,venture,partial,861570.0,861570.0,USD,0.0,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1323827...,SEC,santosh2013,2013-12-12 13:27:11,2013-12-12 13:27:11,NaT
52914,57939,57939,c:255327,2010-02-04,venture,unattributed,274997.0,274997.0,USD,0.0,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1483408...,SEC,santosh2013,2013-12-12 13:33:31,2013-12-12 13:33:31,NaT
52915,57940,57940,c:65946,2013-12-12,venture,unattributed,0.0,0.0,USD,0.0,...,USD,0,1,0,http://finance.yahoo.com/news/avinger-complete...,Avinger Completes Major New Financing,amit2013,2013-12-12 13:33:40,2013-12-12 13:33:40,NaT
52916,57941,57941,c:45407,2013-10-24,series-c+,c,1627248.0,1627248.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1415743...,SEC,prasant2013,2013-12-12 13:36:47,2013-12-12 13:36:47,NaT
52917,57942,57942,c:70841,2013-12-12,venture,unattributed,0.0,0.0,USD,0.0,...,USD,1,1,1,http://www.pehub.com/2013/12/littlejohn-co-bac...,Littlejohn & Co backs Newgistics,amit2013,2013-12-12 13:41:53,2013-12-12 13:41:53,NaT
52918,57943,57943,c:286200,2010-02-05,other,debt_round,1588125.0,1588125.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1103795...,SEC,santosh2013,2013-12-12 13:52:13,2013-12-12 13:52:13,NaT
52919,57944,57944,c:256895,2010-04-07,venture,unattributed,120000.0,120000.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/700998/...,SEC,prasant2013,2013-12-12 13:58:03,2013-12-12 13:58:03,NaT
52920,57945,57945,c:37738,2010-02-06,other,debt_round,1800180.0,1800180.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1483471...,SEC,santosh2013,2013-12-12 13:58:18,2013-12-12 13:58:18,NaT
52921,57946,57946,c:52213,2013-12-12,private-equity,private_equity,25200000.0,25200000.0,USD,0.0,...,USD,0,1,0,http://www.fiercebiotech.com/press-releases/se...,Senesco Announces up to $25.2 Million Equity F...,amit2013,2013-12-12 14:02:30,2013-12-12 14:06:21,NaT
52922,57947,57947,c:156993,2010-04-07,venture,unattributed,4000000.0,4000000.0,USD,0.0,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1472941...,SEC,prasant2013,2013-12-12 14:05:51,2013-12-12 14:05:51,NaT
52923,57948,57948,c:211890,2013-12-12,series-a,a,3000000.0,3000000.0,USD,0.0,...,USD,1,1,1,http://techcrunch.com/2013/12/12/bitstrips-ser...,"Bitstrips Confirms $3M Series A From Horizons,...",amit2013,2013-12-12 14:12:05,2013-12-12 14:12:05,2013-12-12
52924,57949,57949,c:267427,2010-02-06,venture,partial,570000.0,570000.0,USD,0.0,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1434188...,SEC,santosh2013,2013-12-12 14:13:11,2013-12-12 14:13:11,NaT
52925,57950,57950,c:261728,2010-02-06,venture,unattributed,2184100.0,2184100.0,USD,0.0,...,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1335158...,SEC,santosh2013,2013-12-12 14:19:35,2013-12-12 14:19:35,NaT
52926,57951,57951,c:285864,2013-12-12,series-a,a,790783.0,790783.0,USD,0.0,...,USD,0,1,1,http://www.startupticker.ch/en/news/december-2...,UrbanFarmers closes interim-investment round,amit2013,2013-12-12 14:23:49,2013-12-12 14:23:49,2013-12-12
52927,57952,57952,c:286215,2010-04-07,venture,partial,271250.0,271250.0,USD,0.0,...,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1488680...,SEC,prasant2013,2013-12-12 14:27:53,2013-12-12 14:27:53,NaT

In [189]:
rounds.shape

(52928, 23)

In [197]:
def time_serie_investments(reference='a'):

    ''' Take a serie X as reference: values = (a, b, c, angel, any on funding_round_code). And create a new column 'data_serie_reference' which contains the min date of this serie for each company.
    And also create a new column 'time_serie_investment' with the difference between each round and the date of reference serie'''
    rounds = pd.read_csv(os.path.join('..',"raw_data","funding-rounds.csv"))
    rounds.funded_at = pd.to_datetime(rounds.funded_at)

    tmp1 = rounds[rounds.funding_round_code == reference].sort_values(by="funded_at").groupby("object_id",as_index=False).first()
    tmp2 = rounds[rounds.funding_round_type == f'series-{reference}'].sort_values(by="funded_at").groupby("object_id",as_index=False).first()
    tmp3 = pd.concat([tmp1,tmp2])[["object_id","funded_at"]].dropna().drop_duplicates('object_id').rename(columns={'funded_at':f"date_series_{reference}"})
    rounds = rounds.merge(tmp3, how="left", on="object_id")
    rounds[f'time_serie_{reference}_investment'] =  -(rounds[f'date_series_{reference}'] - rounds.funded_at)/np.timedelta64(12, 'M')
    return rounds

In [198]:
time_serie_investments()

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at,date_series_a,time_serie_a_investment
0,1,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,2,0,0,http://www.marketingvox.com/archives/2006/12/2...,NaN,initial-importer,2007-07-04 04:52:57,2008-02-27 23:14:29,2005-10-01,1.166348
1,2,2,c:5,2004-09-01,angel,angel,500000.0,500000.0,USD,0.0,...,2,0,1,NaN,NaN,initial-importer,2007-05-27 06:08:18,2013-06-28 20:07:23,2005-05-01,-0.662573
2,3,3,c:5,2005-05-01,series-a,a,12700000.0,12700000.0,USD,115000000.0,...,3,0,0,http://www.techcrunch.com/2007/11/02/jim-breye...,Jim Breyer: Extra $500 Million Round For Faceb...,initial-importer,2007-05-27 06:09:10,2013-06-28 20:07:23,2005-05-01,0.000000
3,4,4,c:5,2006-04-01,series-b,b,27500000.0,27500000.0,USD,525000000.0,...,4,0,0,http://www.facebook.com/press/info.php?factsheet,Facebook Funding,initial-importer,2007-05-27 06:09:36,2013-06-28 20:07:24,2005-05-01,0.917199
4,5,5,c:7299,2006-05-01,series-b,b,10500000.0,10500000.0,USD,0.0,...,2,0,0,http://www.techcrunch.com/2006/05/14/photobuck...,PhotoBucket Closes $10.5M From Trinity Ventures,initial-importer,2007-05-29 11:05:59,2008-04-16 17:09:12,2005-03-01,1.166348
5,6,6,c:9,2007-01-01,series-a,a,1500000.0,1500000.0,USD,8500000.0,...,1,0,1,NaN,NaN,initial-importer,2007-05-31 20:19:28,2009-01-19 18:29:39,2007-01-01,0.000000
6,7,7,c:9,2007-03-01,series-b,b,10000000.0,10000000.0,USD,100000000.0,...,1,0,0,http://www.techcrunch.com/2007/03/05/100-milli...,100 Million Valuation for Geni,initial-importer,2007-05-31 20:35:03,2009-01-19 18:29:39,2007-01-01,0.161537
7,8,8,c:13,2005-12-01,series-a,seed,1500000.0,1500000.0,USD,0.0,...,4,0,0,http://www.techcrunch.com/2006/11/14/stumbleup...,StumbleUpon May Be For Sale: 50M,initial-importer,2007-06-01 19:14:34,2011-03-10 02:38:18,2009-04-13,-3.364888
8,9,9,c:14,2007-05-01,series-a,a,6300000.0,6300000.0,USD,0.0,...,2,0,1,http://www.techcrunch.com/2007/05/31/gizmoz-la...,NaN,initial-importer,2007-06-01 20:09:47,2008-03-17 04:11:44,2007-05-01,0.000000
9,10,10,c:15,2006-06-01,angel,seed,12000.0,12000.0,USD,0.0,...,1,0,1,http://www.techcrunch.com/2007/03/06/scribd-yo...,"Scribd ""YouTube for Documents"" Gets $300K",initial-importer,2007-06-02 07:36:21,2012-08-13 23:30:48,2007-06-01,-0.999336
10,11,11,c:15,2007-01-01,angel,angel,40000.0,40000.0,USD,0.0,...,1,0,0,NaN,NaN,initial-importer,2007-06-02 07:38:17,2011-04-12 00:57:58,2007-06-01,-0.413424
11,12,12,c:16,2007-06-01,series-b,b,40000000.0,40000000.0,USD,0.0,...,4,0,1,http://www.socaltech.com/slacker_raises_4_m/s-...,NaN,initial-importer,2007-06-04 08:48:44,2008-11-20 02:59:19,2007-06-01,0.000000
12,13,13,c:16,2007-06-01,series-a,a,13500000.0,13500000.0,USD,0.0,...,3,0,1,http://www.techcrunch.com/2007/03/14/new-music...,NaN,initial-importer,2007-06-05 05:56:34,2008-11-20 02:59:19,2007-06-01,0.000000
13,14,14,c:15,2007-06-01,series-a,a,3710000.0,3710000.0,USD,0.0,...,6,0,0,NaN,NaN,initial-importer,2007-06-02 07:49:08,2008-06-02 21:46:48,2007-06-01,0.000000
14,16,16,c:18,2007-01-01,series-b,b,5700000.0,5700000.0,USD,0.0,...,2,0,0,NaN,company,initial-importer,2007-06-05 12:39:17,2011-08-22 21:33:27,2005-01-01,1.998672
15,17,17,c:26,2005-06-01,series-a,a,13200000.0,13200000.0,USD,0.0,...,1,1,1,http://www.redherring.com/Article.aspx?a=21800...,NaN,initial-importer,2007-06-09 10:18:10,2012-10-18 21:31:50,2005-06-01,0.000000
16,18,18,c:22,2007-06-01,series-a,a,1500000.0,1500000.0,USD,0.0,...,1,0,1,http://venturebeat.com/2007/06/06/meetmoi-rais...,NaN,initial-importer,2007-06-07 11:57:59,2012-09-27 02:47:19,2007-06-01,0.000000
17,19,19,c:23,2007-05-09,series-a,a,45000000.0,45000000.0,USD,0.0,...,3,1,1,http://www.lksf.org/eng/media/press/20070510.s...,Joost Announces $45 million Funding,initial-importer,2007-06-09 07:24:20,2010-02-24 18:50:18,2007-05-09,0.000000
18,20,20,c:27,2002-11-01,series-a,a,3800000.0,3800000.0,USD,0.0,...,2,0,1,http://www.plaxo.com/about/releases/release-02...,Plaxo Press Release - 2/18/2003,initial-importer,2007-06-09 14:32:59,2008-05-20 20:43:02,2002-11-01,0.000000
19,21,21,c:27,2003-07-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,3,0,0,http://www.plaxo.com/about/releases/release-07...,Plaxo Press Release - 7/28/2003,initial-importer,2007-06-13 09:32:45,2008-05-20 20:43:02,2002-11-01,0.662573
20,22,22,c:30,2007-06-01,series-a,a,12500000.0,12500000.0,USD,0.0,...,5,1,0,"http://www.powerset.com/press/seriesa, http://...",NaN,initial-importer,2007-06-11 19:36:06,2008-05-13 15:59:39,2007-06-01,0.000000
21,23,23,c:31,2006-06-01,series-c+,c,10520000.0,10520000.0,USD,0.0,...,3,0,0,http://www.svdaily.com/technorati.html,NaN,initial-importer,2007-06-12 04:31:19,2008-06-14 02:11:37,2002-09-01,3.748195
22,24,24,c:31,2004-09-01,series-b,b,6500000.0,6500000.0,USD,0.0,...,1,0,0,http://www.stockphototalk.com/phototalk/2004/0...,NaN,initial-importer,2007-06-12 05:22:48,2008-06-14 02:11:37,2002-09-01,2.001410
23,27,27,c:34,2006-05-01,series-a,a,2500000.0,2500000.0,USD,0.0,...,2,0,1,http://venturebeat.com/2007/03/06/widget-compa...,"Widget company, Clearspring, says it leads mar...",initial-importer,2007-06-13 09:04:50,2013-09-06 11:20:07,2006-05-01,0.000000
24,28,28,c:34,2007-02-01,series-b,b,5500000.0,5500000.0,USD,0.0,...,6,0,0,http://venturebeat.com/2007/03/06/widget-compa...,"Widget company, Clearspring, says it leads mar...",initial-importer,2007-06-13 09:05:28,2013-09-06 11:20:07,2006-05-01,0.755662
25,29,29,c:27,2004-04-01,series-c+,c,7000000.0,7000000.0,USD,0.0,...,4,0,0,http://sanjose.bizjournals.com/sanjose/stories...,Plaxo connects to more funding,initial-importer,2007-06-13 09:33:11,2008-05-20 20:43:02,2002-11-01,1.415498
26,30,30,c:27,2007-02-01,series-c+,d,9000000.0,9000000.0,USD,0.0,...,1,1,0,NaN,EDGAR,initial-importer,2007-06-13 09:33:45,2010-03-04 14:10:54,2002-11-01,4.251970
27,31,31,c:35,2007-06-01,series-a,a,5000000.0,5000000.0,USD,0.0,...,4,0,1,http://www.techcrunch.com/2007/06/13/openads-o...,NaN,initial-importer,2007-06-13 18:26:31,2013-07-18 17:28:21,2007-06-01,0.000000
28,32,32,c:38,2007-07-01,series-a,a,2250000.0,2250000.0,USD,0.0,...,4,0,1,http://www.kyte.tv/press/release/20070423.html,kyte.tv takes self expression to the next level,initial-importer,2007-06-14 18:34:46,2013-07-31 07:52:30,2007-07-01,0.000000
29,33,33,c:40,2006-04-01,series-b,b,12500000.0,12500000.0,USD,0.0,...,4,0,0,http://www.socaltech.com/veoh_gets_____m_from_...,"Veoh Gets $12.5M From Eisner, Others",initial-importer,2007-06-15 09:36:17,2008-06-03 19:26:18,2005-07-01,0.750187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52898,57923,57923,c:286180,2010-02-03,venture,unattributed,750000.0,750000.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1482482...,SEC,santosh2013,2013-12-12 12:54:25,2013-12-12 12:54:25,NaT,NaN
52899,57924,57924,c:286179,2013-12-11,other,debt_round,525000.0,525000.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1594007...,SEC,amit2013,2013-12-12 12:54:31,2013-12-12 12:54:31,NaT,NaN
52900,57925,57925,c:243568,2013-12-12,other,grant,800000.0,800000.0,USD,0.0,...,0,1,0,http://jewishbusinessnews.com/2013/12/12/brain...,"BrainStorm Receives $800,000 Non-Dilutive Gran...",arun,2013-12-12 12:54:57,2013-12-12 12:54:57,NaT,NaN
52901,57926,57926,c:15847,2013-12-12,venture,unattributed,15000000.0,15000000.0,USD,0.0,...,4,1,0,http://www.pehub.com/2013/12/mocana-raises-15-...,Mocana raises $15 mln in strategic funding; GE...,ramesh2013,2013-12-12 12:57:35,2013-12-12 12:57:35,2006-09-14,7.244502
52902,57927,57927,c:221090,2010-02-03,other,debt_round,1700000.0,1700000.0,USD,0.0,...,0,0,1,http://www.sec.gov/Archives/edgar/data/1481632...,SEC,santosh2013,2013-12-12 13:02:12,2013-12-12 13:02:12,NaT,NaN
52903,57928,57928,c:286182,2013-12-11,venture,unattributed,500000.0,500000.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1593866...,SEC,amit2013,2013-12-12 13:02:28,2013-12-12 13:02:28,NaT,NaN
52904,57929,57929,c:286183,2013-12-12,angel,seed,225000.0,225000.0,USD,0.0,...,3,1,1,http://www.finsmes.com/2013/12/wedding-spot-ra...,Wedding Spot Raises $225K in Seed Funding,ramesh2013,2013-12-12 13:07:40,2013-12-12 13:07:40,NaT,NaN
52905,57930,57930,c:196653,2010-02-03,venture,unattributed,4000185.0,4000185.0,USD,0.0,...,0,0,1,http://www.sec.gov/Archives/edgar/data/1482981...,SEC,santosh2013,2013-12-12 13:10:17,2013-12-12 13:10:17,NaT,NaN
52906,57931,57931,c:217789,2013-12-11,venture,unattributed,9329636.0,9329636.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1589577...,SEC,amit2013,2013-12-12 13:10:24,2013-12-12 13:10:24,NaT,NaN
52907,57932,57932,c:67626,2010-02-03,other,debt_round,600000.0,600000.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1339837...,SEC,santosh2013,2013-12-12 13:12:46,2013-12-12 13:12:46,NaT,NaN
52908,57933,57933,c:43826,2010-02-03,venture,partial,2972576.0,2972576.0,USD,0.0,...,0,0,0,http://www.sec.gov/Archives/edgar/data/1138818...,SEC,santosh2013,2013-12-12 13:16:24,2013-12-12 13:16:24,NaT,NaN
52909,57934,57934,c:286184,2013-12-11,venture,unattributed,12999000.0,12999000.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1552224...,SEC,amit2013,2013-12-12 13:17:16,2013-12-12 13:17:16,NaT,NaN
52910,57935,57935,c:83448,2010-02-03,venture,partial,275000.0,275000.0,USD,0.0,...,0,0,1,http://www.sec.gov/Archives/edgar/data/1483094...,SEC,santosh2013,2013-12-12 13:17:37,2013-12-12 13:17:37,2011-07-27,-1.475732
52911,57936,57936,c:286186,2010-04-07,venture,partial,2156061.0,2156061.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1488527...,SEC,prasant2013,2013-12-12 13:20:39,2013-12-12 13:20:39,NaT,NaN
52912,57937,57937,c:44384,2010-04-07,other,debt_round,150000.0,150000.0,USD,0.0,...,0,0,0,http://www.sec.gov/Archives/edgar/data/1372965...,SEC,prasant2013,2013-12-12 13:25:51,2013-12-12 13:25:51,2007-07-16,2.726955
52913,57938,57938,c:232348,2010-02-03,venture,partial,861570.0,861570.0,USD,0.0,...,0,0,1,http://www.sec.gov/Archives/edgar/data/1323827...,SEC,santosh2013,2013-12-12 13:27:11,2013-12-12 13:27:11,NaT,NaN
52914,57939,57939,c:255327,2010-02-04,venture,unattributed,274997.0,274997.0,USD,0.0,...,0,0,1,http://www.sec.gov/Archives/edgar/data/1483408...,SEC,santosh2013,2013-12-12 13:33:31,2013-12-12 13:33:31,NaT,NaN
52915,57940,57940,c:65946,2013-12-12,venture,unattributed,0.0,0.0,USD,0.0,...,0,1,0,http://finance.yahoo.com/news/avinger-complete...,Avinger Completes Major New Financing,amit2013,2013-12-12 13:33:40,2013-12-12 13:33:40,NaT,NaN
52916,57941,57941,c:45407,2013-10-24,series-c+,c,1627248.0,1627248.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1415743...,SEC,prasant2013,2013-12-12 13:36:47,2013-12-12 13:36:47,NaT,NaN
52917,57942,57942,c:70841,2013-12-12,venture,unattributed,0.0,0.0,USD,0.0,...,1,1,1,http://www.pehub.com/2013/12/littlejohn-co-bac...,Littlejohn & Co backs Newgistics,amit2013,2013-12-12 13:41:53,2013-12-12 13:41:53,NaT,NaN
52918,57943,57943,c:286200,2010-02-05,other,debt_round,1588125.0,1588125.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1103795...,SEC,santosh2013,2013-12-12 13:52:13,2013-12-12 13:52:13,NaT,NaN
52919,57944,57944,c:256895,2010-04-07,venture,unattributed,120000.0,120000.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/700998/...,SEC,prasant2013,2013-12-12 13:58:03,2013-12-12 13:58:03,NaT,NaN
52920,57945,57945,c:37738,2010-02-06,other,debt_round,1800180.0,1800180.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1483471...,SEC,santosh2013,2013-12-12 13:58:18,2013-12-12 13:58:18,NaT,NaN
52921,57946,57946,c:52213,2013-12-12,private-equity,private_equity,25200000.0,25200000.0,USD,0.0,...,0,1,0,http://www.fiercebiotech.com/press-releases/se...,Senesco Announces up to $25.2 Million Equity F...,amit2013,2013-12-12 14:02:30,2013-12-12 14:06:21,NaT,NaN
52922,57947,57947,c:156993,2010-04-07,venture,unattributed,4000000.0,4000000.0,USD,0.0,...,0,0,1,http://www.sec.gov/Archives/edgar/data/1472941...,SEC,prasant2013,2013-12-12 14:05:51,2013-12-12 14:05:51,NaT,NaN
52923,57948,57948,c:211890,2013-12-12,series-a,a,3000000.0,3000000.0,USD,0.0,...,1,1,1,http://techcrunch.com/2013/12/12/bitstrips-ser...,"Bitstrips Confirms $3M Series A From Horizons,...",amit2013,2013-12-12 14:12:05,2013-12-12 14:12:05,2013-12-12,0.000000
52924,57949,57949,c:267427,2010-02-06,venture,partial,570000.0,570000.0,USD,0.0,...,0,0,1,http://www.sec.gov/Archives/edgar/data/1434188...,SEC,santosh2013,2013-12-12 14:13:11,2013-12-12 14:13:11,NaT,NaN
52925,57950,57950,c:261728,2010-02-06,venture,unattributed,2184100.0,2184100.0,USD,0.0,...,0,0,1,http://www.sec.gov/Archives/edgar/data/1335158...,SEC,santosh2013,2013-12-12 14:19:35,2013-12-12 14:19:35,NaT,NaN
52926,57951,57951,c:285864,2013-12-12,series-a,a,790783.0,790783.0,USD,0.0,...,0,1,1,http://www.startupticker.ch/en/news/december-2...,UrbanFarmers closes interim-investment round,amit2013,2013-12-12 14:23:49,2013-12-12 14:23:49,2013-12-12,0.000000
52927,57952,57952,c:286215,2010-04-07,venture,partial,271250.0,271250.0,USD,0.0,...,0,1,1,http://www.sec.gov/Archives/edgar/data/1488680...,SEC,prasant2013,2013-12-12 14:27:53,2013-12-12 14:27:53,NaT,NaN